
/* 1 Typography
----------------------------------------------------------------------------- */
html {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.50;
	color: #666666;
	background-color: #ffffff;
}
h1,h2,h3,h4,h5,h6 {
	color: #343434;
	line-height: 1.2;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color: #343434;
}
h1 {
	font-size: 38px;
	font-weight: 300;
}
h2 {
	font-size: 28px;
	margin-bottom: 15px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
	font-weight: 700;
}
h5 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
}
h6 {
	font-weight: 700;
}

/* Medium devices (desktops, tablets, 992px and up) */
@media (min-width:992px) {
	.title {
		margin-top: 0;
	}
}
p {
	margin-bottom: 20px;
}
a {
	color: #e84c3d;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a:hover {
	color: #cd3c2e;
}
a:focus,
a:active {
	outline: none;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
#logo{width: auto;display: inline-block;}
pre {
	padding: 20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
@media (min-width: 768px){
.navbar-right .dropdown.mega-menu .dropdown-menu {
    right: auto; 
    left: auto;
    top: 54px;
}
.dropdown.mega-menu .dropdown-menu a:hover{padding-left: 25px;}
}

/* Fixed navigation
---------------------------------- */
.fixed-header-on .header.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1006;
	opacity: 0;
	filter: alpha(opacity=0);
	border-bottom: 1px solid #f1f1f1;
	padding: 7px 0;
	background-color: rgba(255, 255, 255, 0.8);
}
.fixed-header-on.boxed .header.fixed {
	left: auto;
}
.fixed-header-on .header .logo {
	-webkit-transform: scale(0.80);
	-moz-transform: scale(0.80);
	-ms-transform: scale(0.80);
	-o-transform: scale(0.80);
	transform: scale(0.80);
	margin: 2px 0 -4px 0;
	display: none;
}
.fixed-header-on .header .site-slogan {
	display: none;
}
.fixed-header-on .header .navbar.navbar-default {
	margin: 0;
}
.fixed-header-on .header.fixed.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.fixed-header-on.boxed .header.fixed {
		width: 750px;
	}
}

/* Medium devices (desktops, tablets, 992px and up) */
@media (min-width:992px) {
	.fixed-header-on .header .logo {
		display: block;
	}
	.fixed-header-on.boxed .header.fixed {
		width: 970px;
	}
}

/* Large devices (Large desktops 1200px and up) */
@media (min-width:1200px) {
	.fixed-header-on.boxed .header.fixed {
		width: 1170px;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	/* Fixed header position */
	.header.fixed {
		position: relative !important;
		top: auto !important;
	}
}

/* Lists
---------------------------------- */
ul {
	list-style: square;
}
.list-icons {
	list-style: none;
	padding: 0;
	margin-top: 12px;
	padding-left: 42px;
}
.list-icons li{
	padding: 5px 0;
}
.list-icons li i {
	width: 25px;
	text-align: center;
}

/* 2 Layout
----------------------------------------------------------------------------- */
.page-wrapper {
	background-color: #ffffff;
}

.header {
	/*padding: 20px 0;*/
	border-bottom: 1px solid #eaeaea;
	background-color: #fff;
	padding-top: 4px;
}
.banner {
	background-color: #f1f1f1;
	border-bottom: 1px solid #eaeaea;
}
.page-top {
	padding: 40px 0;
	margin-top: 30px;
}
.main-container {
	padding: 40px 0;
}
.section {
	padding: 25px 0;
}
.footer {
	padding: 30px 0;
	background-color: #f3f3f3;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #333333;
}
.subfooter {
	padding: 25px 0;
	background-color: #000000;
}
.block {
	padding-bottom: 40px;
}

.nav.navbar-nav.navbar-right{margin-top: -7px;}

/* Backgrounds
---------------------------------- */
.gray-bg {
	background-color: #431E85;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.13) !important;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.13) !important;
	position: relative;
}
.gray-bg:before {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	height: 5px;
	content: "";
	width: 100%;
	-webkit-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.13);
	box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.13);
}
.header.gray-bg {
	border-bottom: 1px solid #dadada;
}
.header.gray-bg,
.header.gray-bg:before {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.default-bg {
	background-color: #e84c3d;
	color: #ffffff;
}
.default-bg h1,
.default-bg h2,
.default-bg h3,
.default-bg h4,
.default-bg h5,
.default-bg h6 {
	color: #ffffff;
}
.default-bg a:not(.btn) {
	color: #ffffff;
	text-decoration: underline;
}
.default-bg a:not(.btn):hover {
	color: #ffffff;
	text-decoration: none;
}

/* Parallax effect
---------------------------------- */
.dark-translucent-bg,
.parallax {
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
}
.parallax {
	background-position: 50% 0;
	background-repeat: no-repeat;
	z-index: 1;
	position: relative;
	padding: 50px 0;
	padding-bottom: 20px;
}
.dark-translucent-bg{
	background-position: 50% 0;
	background-repeat: no-repeat;
	z-index: 1;
	position: relative;
}
.dark-translucent-bg:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}
.dark-translucent-bg:after {
	background-color: rgba(0, 0, 0, 0.7);
}
.dark-translucent-bg,
.dark-translucent-bg h1,
.dark-translucent-bg h2,
.dark-translucent-bg h3,
.dark-translucent-bg h4,
.dark-translucent-bg h5,
.dark-translucent-bg h6 {
	color: #ffffff;
}
.dark-translucent-bg a:not(.btn) {
	text-decoration: underline;
	color: #ffffff;
}
.dark-translucent-bg a:not(.btn):hover {
	text-decoration: none;
	color: #ffffff;
}
.dark-translucent-bg .container {
	z-index: 3;
	position: relative;
}
.parallax-bg {
	background: url("../images/parallax-bg.jpg") 50% 0px no-repeat;
}
.parallax-bg-2 {
	background: url("../images/parallax-bg-2.jpg") 50% 0px no-repeat;
}
.parallax-bg-3 {
	background: url("../images/parallax-bg-3.jpg") 50% 0px no-repeat;
}

/* Custom Grid
---------------------------------- */
.img-grid-space-20 {
	margin-right: -10.5px;
	margin-left: -10.5px;
	position: relative;
	height: 500px;
}
.img-grid-space-20 img{
	width: 150px;
	height: 200px;
	padding: 10px;
	background: white;
	border: 1px solid gray;
	position: absolute;
	 -webkit-transition: 1s;
	/* -webkit-是为了设置动画兼容的,所以为了能让动画适应谷歌浏览器 我们要在属性前面加上-webkit     transition相当于一个过渡*/
	z-index: 1;
}
.img-grid-space-20 .tu1{
	top:10%;
	left: 20%;
	-webkit-transform:rotate(10deg);
	/*transform的含义是：改变，使…变形    rotate() 方法，元素顺时针旋转给定的角度。允许负值，元素将逆时针旋转。*/
}
.img-grid-space-20 .tu2{
	top:34%;
	left: 28%;
	-webkit-transform:rotate(-10deg);
}
.img-grid-space-20 .tu3{
	top:53%;
	left: 41%;
	-webkit-transform:rotate(8deg);
	z-index: 10;
}
.img-grid-space-20 .tu4{
	top:10%;
	right: 25%;
	-webkit-transform:rotate(10deg);
}
.img-grid-space-20 .tu5{
	top:30%;
	right: 35%;
	-webkit-transform:rotate(-10deg);
}
.img-grid-space-20 img:hover{
	/* translate(100px,100px) 把元素从左侧移动 100 像素，从顶端移动 100 像素。*/
	-webkit-transform:translate(60px,60px) scale(1.2,1.2);/* scale(1.2) 把宽度转换为原始尺寸的 1.2 倍，把高度转换为原始高度的 1.2倍。*/
	box-shadow: 0px 0px 5px #666;
	z-index: 20;
}


/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.footer-content {
		margin: 40px 0;
	}
}


/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	/* Fixed header position */
	.header.fixed {
		position: relative !important;
		top: auto !important;
	}
}

/* Miscellaneous
---------------------------------- */
.pr-5 {
	padding-right: 5px;
}

.space {
	padding-top: 20px;
	padding-bottom: 20px;
}
.space-top {
	padding-top: 20px;
}
.space-bottom {
	padding-bottom: 20px;
}
.separator {
	display: block;
	width: 60px;
	height: 5px;
	margin: 15px auto 15px;
	background-color: #cccccc;
	position: relative;
	border: 1px solid #cccccc;
}
.separator:after {
	width: 30px;
	height: 5px;
	background: #333333;
	position: absolute;
	top: -1px;
	left: -1px;
	content: "";
}
.default-bg .separator-2 {
	background-color: #ebebeb;
}
.object-non-visible {
	opacity: 0;
	filter: alpha(opacity=0);
}
.object-visible, .touch .object-non-visible {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

/* Targeting only Firefox for smoothest animations */
@-moz-document url-prefix() {
	.object-visible{
		-webkit-transition: opacity 0.6s ease-in-out;
		-moz-transition: opacity 0.6s ease-in-out;
		-o-transition: opacity 0.6s ease-in-out;
		-ms-transition: opacity 0.6s ease-in-out;
		transition: opacity 0.6s ease-in-out;
	}
}

/* Footer
---------------------------------- */
.footer {
	font-size: 14px;
	color: #999999;
}
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
	color: #999999;
}
.footer h2 {
	font-size: 24px;
	/*margin-bottom: 30px;*/
}

/* Subfooter
---------------------------------- */
.subfooter {
	font-size: 14px;
}
.subfooter p {
	margin: 0;
	text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	/* subfooter */
	.subfooter {
		text-align: center;
	}
}
/* Tabs
---------------------------------- */
.nav-tabs {
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.04);
	border-bottom: 1px solid #f0f0f0;
	margin-top: 15px;
}
.nav-tabs > li > a {
	font-size: 13px;
	text-transform: uppercase;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 12px 25px;
	position: relative;
	color: #666666;
}
.nav-tabs > li > a:hover {
	border-color: #f0f0f0 #f0f0f0 #ebebeb;
	background-color: #fafafa;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #666;
	background-color: #fafafa;
	border: 1px solid #f0f0f0;
	-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
	border-bottom-color: transparent;
}
.nav-tabs > li.active > a:after {
	width: 3px;
	content: "";
	background-color: #e84c3d;
	height: 103%;
	position: absolute;
	left: 0;
	top: 0;
}
.tab-content {
	border: 1px solid #f0f0f0;
	padding: 20px;
	border-top: none;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	position: relative;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background-color: #fafafa;
	margin-bottom: 15px;
}
.tab-content h1 {
	font-size: 34px;
}
.tab-content:after {
	width: 3px;
	content: "";
	background-color: #e84c3d;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.tab-content.clear-style {
	border: none;
	padding: 10px 0 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
}
.tab-content.clear-style:after {
	width: 0;
	background-color: transparent;
	height: 100%;
}

/* Small devices (tablets, smartphones) */
@media (min-width:481px) and (max-width:767px) {
	.nav-tabs > li > a {
		padding: 12px 10px;
		font-size: 11px;
		margin-right: 0;
	}
}

/* Extra small devices (phones, less than 480px) */
@media (max-width:480px) {
	.nav-tabs {
		background-color: #999999;
	}
	.nav-tabs > li {
		float: none;
	}
	.nav-tabs > li a {
		color: #ffffff;
		margin-right: 0;
		border-bottom: 1px solid #8f8f8f;
	}
	.nav-tabs > li > a:hover {
		color: #666666;
	}
	.nav-tabs > li > a:hover:after {
		width: 3px;
		content: "";
		background-color: #e84c3d;
		height: 102%;
		position: absolute;
		left: 0;
		top: 0;
	}
}

/* Nav pills
---------------------------------- */
.nav-pills > li > a {
	border-radius: 0;
	padding: 10px 15px;
	border: 1px solid transparent;
	color: #666666;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
}
.nav-pills.nav-stacked > li + li {
	margin-left: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
	border: 1px solid #f3f3f3;
	color: #e84c3d;
	background-color: #fafafa;
}
.nav-pills.nav-stacked > li > a:after {
	font-family: "FontAwesome";
	content: "\f105";
	font-size: 14px;
	font-weight: 700;
	position: absolute;
	left: 85px;
	top: 9px;
	color: #d1d1d1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.nav-pills > li.active > a:after {
	color: #e84c3d;
}
.nav-pills > li.active > a:hover:after,
.nav-pills > li.active > a:focus:after,
.nav-pills > li > a:hover:after,
.nav-pills > li > a:focus:after {
	color: #e84c3d;
	left: 90px;
}
.footer-content .nav-pills > li > a {
	padding: 4px 0px;
	border-color: transparent;
	color: #999;
	font-weight: 400;
}
.footer-content .nav-pills > li:last-child > a {
	border-bottom: none;
}
.footer-content .nav-pills > li.active > a,
.footer-content .nav-pills > li.active > a:focus,
.footer-content .nav-pills > li > a:focus {
	color: #999;
	background-color: transparent;
	border-color: transparent;
}
.footer-content .nav-pills > li.active > a:hover,
.footer-content .nav-pills > li > a:hover {
	color: #3c3c3c;
	background-color: transparent;
	border-color: transparent;
}
.footer-content .nav-pills.nav-stacked > li > a:after {
	top: 3px;
}
.footer-content .nav-pills.nav-stacked > li > a:after,
.footer-content .nav-pills > li.active > a:after,
.footer-content .nav-pills > li.active > a:hover:after,
.footer-content .nav-pills > li.active > a:focus:after,
.footer-content .nav-pills > li > a:hover:after,
.footer-content .nav-pills > li > a:focus:after {
	color: #999
}

/* Responsive iframe
---------------------------------- */
.tp-caption .embed-responsive {
	overflow: visible;
}

/* first level menu */
.navbar.navbar-default {
	border-radius: 0;
	margin: 12px 0 5px;
	background-color: #fafafa;
	border-color: #f1f1f1;
}

/* first level menu items */
.navbar-default .navbar-nav > li > a {
	color: #92989b;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	padding: 12px 20px 12px 19px;
	z-index: 102;
	border: 1px solid transparent;
	bottom: -1px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
.navbar-default .navbar-nav > li > a:hover {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	color: #954db3;
}

/* first level active menu items on hover/focus */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
	color: #954db3;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
	color: #954db3;
}

/* first level active menu items when opened */
.main-navigation .navbar-nav > .open > a,
.main-navigation .navbar-nav > .open > a:hover,
.main-navigation .navbar-nav > .open > a:focus {
	color: #666666;
	background-color: #fafafa;
	border: 1px solid #f1f1f1;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.03);
	box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.03);
}

/* first level active menu items when clicked */
.main-navigation .navbar-nav > .open > a:active,
.main-navigation .navbar-nav > .open.active > a:active {
	background-color: #ffffff;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: transparent;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.main-navigation .navbar-nav > .open > a:active + ul,
.main-navigation .navbar-nav > .open.active > a:active + ul {
	display: none;
}


/* second level menu items on focus/hover and when opened */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background-color: #ffffff;
	color: #e84c3d;
	border-color: #f1f1f1;
}

/* mega menu */
.mega-menu.dropdown {
	position: static;
}

/* mega menu menu items */
.mega-menu .menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
.mega-menu h4.title {
	margin: 10px 0 5px;
	font-size: 14px;
	text-transform: uppercase;
}
.mega-menu .menu > li > a {
	padding: 5px 0;
	font-size: 15px;
	color: #666666;
	border-bottom: 1px solid #f1f1f1;
	display: block;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
.mega-menu .menu > li > a i{
	padding-right: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.mega-menu .menu > li:last-child > a {
	border-bottom: none;
}
.mega-menu .menu > li > a:hover i {
	padding-left: 5px;
}

/* mega menu menu items on focus/hover and when opened */
.mega-menu .menu > li > a:hover,
.mega-menu .menu > li > a:focus {
	background-color: #ffffff;
	color: #e84c3d;
	border-color: #f1f1f1;
	text-decoration: none;
}

/* arrows for parent menu items */
.dropdown>a.dropdown-toggle:before {
	font-family: 'FontAwesome';
	content: "\f107";
	position: absolute;
	left: auto;
	top: 15px;
	right: 6px;
	line-height: 1;
	color: #d1d1d1;
}
.navbar-default .navbar-nav > .active.dropdown > a:before {
	color: #e84c3d;
}
.navbar-default .navbar-nav > .dropdown.open > a:before {
	color: #e5e5e5;
}
.dropdown .dropdown>a:before {
	content: "\f105";
	right: 10px;
	top: 15px;
	margin-left: 0;
	visibility: visible;
	color: #666;
}
.dropdown .dropdown.open>a:before {
	color: #e84c3d;
}

/* dropdown animations */
.open .dropdown-animation {
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInDownSmall;
	animation-name: fadeInDownSmall;
}
.open .dropdown-animation {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

/* mobile menu toggle button */
.navbar-default .navbar-toggle {
	border-color: #ccc;
}

/* mobile menu toggle button on hover/focus */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #fafafa;
	border-color: #e84c3d;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #999;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #e84c3d;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.main-navigation .navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
	
	/* first level menu */
	.navbar.navbar-default {
		background-color: transparent;
		border-color: transparent;
	}
	
	/* layout fixes */
	.main-navigation .container-fluid {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar-collapse {
		padding-right: 0px;
		padding-left: 0px;
	}
}

/* Medium desktop devices and tablets */
@media (min-width:768px) and (max-width:1199px) {
	.main-navigation .container-fluid {
		padding-right: 0px;
		padding-left: 0px;
	}
}

/* Medium devices (tablets landscape to portrait) */
@media (min-width:768px) and (max-width:991px) {
	.main-navigation .navbar-nav {
		float: left !important;
	}
}

/* Medium desktop devices */
@media (min-width:992px) and (max-width:1199px) {
	.navbar-default .navbar-nav > li > a {
		padding-right: 19px;
	}
}

/* Large devices (Large desktops 1200px and up) */
@media (min-width:1200px) {
	/* first level menu item */
	.main-navigation .navbar-nav > li {
		margin: 0 0 0 15px;
	}
	.main-navigation .navbar-nav > li:first-child {
		margin: 0;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	
	/* first level items */
	.navbar-default .navbar-nav > li > a {
		border-bottom: 1px solid #f1f1f1;
	}
	.subfooter .navbar-default .navbar-nav > li > a {
		border-bottom: 1px solid #141414;
	}
	.navbar-default .navbar-nav > li:last-child > a {
		border-bottom: 1px solid transparent;
	}
	
	/* first level items when opened */
	.main-navigation .navbar-nav > .open > a,
	.main-navigation .navbar-nav > .open > a:hover,
	.main-navigation .navbar-nav > .open > a:focus {
		border-color: transparent;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	/* first level items hover and focus states */
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		color: #e84c3d;
		background-color: #fff;
	}
	
	
	/* Arrows for parent menu items */
	.dropdown>a:before {
		right: 32px;
	}
	.dropdown .dropdown>a:before {
		right: 36px;
	}
}

/* Subfooter navigation
---------------------------------- */
.subfooter .navbar {
	margin: 0;
	min-height: 0;
	background: transparent;
	border-color: transparent;
}
.subfooter .navbar-default .nav > li > a {
	padding: 10px 10px;
	text-transform: none;
	line-height: 1;
	font-size: 14px;
	font-weight: 400;
}
.subfooter .navbar-default .nav li:last-child a {
	border: none;
}
.subfooter .navbar-default .nav > li > a:hover,
.subfooter .navbar-default .nav > .active > a:hover,
.subfooter .navbar-default .nav > .active > a:focus {
	background-color: transparent;
	text-decoration: underline;
	color: #e84c3d;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.subfooter .navbar-nav {
		float: none;
		margin: 15px 0;
		text-align: center;
	}
	.subfooter .navbar-nav > li {
		float: none;
		padding: 5px 0;
	}
	.subfooter .navbar-default .nav > li > a {
		padding: 0px 10px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
	.subfooter {
		text-align: left;
	}
	.subfooter .navbar-nav {
		float: right;
		margin: 0;
		text-align: left;
	}
	.subfooter .navbar-nav > li {
		float: left;
		padding: 0;
		margin-top: 4px;
	}
	.subfooter .navbar-default .nav > li > a {
		border-right: 1px solid #333333;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	/* subfooter nav */
	.subfooter .navbar-default .navbar-toggle:hover,
	.subfooter .navbar-default .navbar-toggle:focus {
		background-color: transparent;
		border-color: #888;
	}
	.subfooter .navbar-default .navbar-collapse {
		border-color: #000000;
	}
}

/* 7 Blocks/Widgets
----------------------------------------------------------------------------- */
/* Logo
---------------------------------- */
.logo img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.logo img:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.main-container .logo img {
	margin: 0 auto;
}
.text-center .logo img {
	margin: 0 auto;
}
.site-slogan {
	font-size: 13px;
	font-style: italic;
	color: #999999;
}
.main-container .site-slogan {
	color: inherit;
	text-align: center;
	margin-bottom: 20px;
}
.logo-footer {
	margin: 25px 0 20px;
}

/* Medium devices (desktops, tablets less than 991px) */
@media (max-width:991px) {
	.logo img {
		margin: 0 auto;
	}
	.site-slogan {
		text-align: center;
	}
}

/* Call to action
---------------------------------- */
.call-to-action {
	padding: 10px 25px;
	text-align: center;
}
.call-to-action h1{margin-bottom: 20px;}
.call-to-action p{line-height: 26px;}
.call-to-action .btn {
	margin: 10px 5px;
}
.call-to-action .btn.btn-lg {
	margin-top: 15px;
}

/* Extra small devices (phones, less than 480px) */
@media (max-width:480px) {
	.call-to-action .btn {
		display: block;
		width: 60%;
		margin: 10px auto;
	}
}

/* Boxes
---------------------------------- */
.box-style-1 {
	text-align: center;
	padding: 20px;
	margin: 20px 0;
}
.grid-space-10 .box-style-1 {
	margin: 10px 0;
}
.box-style-1 i {
	font-size: 90px;
	margin: 15px 0 5px;
	text-align: center;
}
.box-style-1:not(.team-member):hover i {
	color: #e84c3d;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.box-style-1.default-bg:hover i{
	color: inherit;
}
.box-style-3 {
	margin-top: 40px;
}
.box-style-3 i {
	font-size: 22px;
	line-height: 45px;
}
.box-style-3 .icon-container {
	float: left;
	width: 45px;
	height: 45px;
	text-align: center;
	border: 1px solid transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.box-style-3 .body {
	margin-left: 80px;
	height: 45px;
}
.box-style-3 h2 {
	font-size: 20px;
	margin-top: 0;
}
.box-style-3:hover .icon-container {
	border: 1px solid #666;
}
.box-style-3:hover .default-bg {
	background-color: #fff;
	border: 1px solid #e84c3d;
}
.box-style-3:hover .default-bg * {
	color: #e84c3d;
}
.panel-body i {
	width: 35px;
	text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.box-style-3.right .icon-container {
		float: right;
	}
	.box-style-3.right .body {
		margin-right: 80px;
		text-align: right;
		margin-left: 0;
		height: 45px;
	}
}

/* Social icons block
---------------------------------- */
.social-links {
	list-style: none;
	font-size: 0;
	padding: 0;
	margin: 40px 0 20px 0;
}
.social-links li {
	display: inline-block;
	margin: 0 2px 2px 0;
}
.social-links li a {
	width: 45px;
	height: 45px;
	display: block;
	text-align: center;
	font-size: 20px;
	background: #e84c3d;
	border: 1px solid #e84c3d;
	color: #fff;
}
.social-links.circle li a {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.social-links li a:hover {
	background-color: transparent;
	border-color: #cd3c2e;
	color: #cd3c2e;
}
.social-links li a i {
	line-height: 44px;
}
.social-links.large li a i {
	line-height: 60px;
}
.footer-content .social-links {
	margin: 20px 0;
}
.footer-content .social-links li {
	margin: 0 5px 5px 0;
}
.footer-content .social-links li a {
	color: #666;
	background-color: transparent;
	border-color: #666;
}
.footer-content .social-links li a:hover {
	color: #fff;
	background-color: #666;
	border-color: #666;
}
.social-links li.twitter a:hover,
.colored.social-links li.twitter a {
	background-color: #55acee;
	border-color: #55acee;
	color: #fff;
}
.social-links li.skype a:hover,
.colored.social-links li.skype a {
	background-color: #00aff0;
	border-color: #00aff0;
	color: #fff;
}
.social-links li.linkedin a:hover,
.colored.social-links li.linkedin a {
	background-color: #0976b4;
	border-color: #0976b4;
	color: #fff;
}
.social-links li.googleplus a:hover,
.colored.social-links li.googleplus a {
	background-color: #dd4b39;
	border-color: #dd4b39;
	color: #fff;
}
.social-links li.youtube a:hover,
.colored.social-links li.youtube a {
	background-color: #b31217;
	border-color: #b31217;
	color: #fff;
}
.social-links li.flickr a:hover,
.colored.social-links li.flickr a {
	background-color: #ff0084;
	border-color: #ff0084;
	color: #fff;
}
.social-links li.facebook a:hover,
.colored.social-links li.facebook a {
	background-color: #3b5998;
	border-color: #3b5998;
	color: #fff;
}
.social-links li.pinterest a:hover,
.colored.social-links li.pinterest a {
	background-color: #cb2027;
	border-color: #cb2027;
	color: #fff;
}
.social-links li.instagram a:hover,
.colored.social-links li.instagram a {
	background-color: #517fa4;
	border-color: #517fa4;
	color: #fff;
}
.social-links li.vimeo a:hover,
.colored.social-links li.vimeo a {
	background-color: #aad450;
	border-color: #aad450;
	color: #fff;
}
.social-links li.tumblr a:hover,
.colored.social-links li.tumblr a {
	background-color: #32506d;
	border-color: #32506d;
	color: #fff;
}
.social-links li.soundcloud a:hover,
.colored.social-links li.soundcloud a {
	background-color: #ff3a00;
	border-color: #ff3a00;
	color: #fff;
}
.social-links li.foursquare a:hover,
.colored.social-links li.foursquare a {
	background-color: #0072b1;
	border-color: #0072b1;
	color: #fff;
}
.social-links li.dribbble a:hover,
.colored.social-links li.dribbble a {
	background-color: #ea4c89;
	border-color: #ea4c89;
	color: #fff;
}
.social-links li.behance a:hover,
.colored.social-links li.behance a {
	background-color: #053eff;
	border-color: #053eff;
	color: #fff;
}
.social-links li.vine a:hover,
.colored.social-links li.vine a {
	background-color: #00a478;
	border-color: #00a478;
	color: #fff;
}
.social-links li.stumbleupon a:hover,
.colored.social-links li.stumbleupon a {
	background-color: #f74425;
	border-color: #f74425;
	color: #fff;
}
.social-links .dropdown>button {
	padding: 6px 15px 5px;
	font-size: 16px;
	color: #999;
	text-align: center;
	min-width: 0;
	margin: 0;
	background-color: transparent;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.social-links .dropdown>button i {
	width: 15px;
}
.social-links .dropdown.open>button>i:before {
	content: "\f00d";
	color: #e84c3d;
}

.section.clearfix.object-non-visible.animated.object-visible.fadeInUpSmall:before{content: "";width: 100%;height: 1px;background: #fff;opacity: 0.3;}
.main-container.gray-bg .main .container .text-center.title, .main-container.gray-bg .main .container,.main-container.gray-bg .main .container h3{color: #fff;}
#high-performance1 img{display: none;}
#high-performance1 img.active{display: block;}
.tab-pane.fade{    
    -webkit-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
    }
.stats.row.grid-space-10 h1{text-align: center;}
.cloud_imgs{
	width: 90px;
	height: 92px;
	margin: auto;
}

/* Scroll to top
---------------------------------- */
.scrollToTop {
	color: #fff;
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	background-color: #c29bd2;
	z-index: 1005;
	display: none;
}
.scrollToTop i {
	line-height: 50px;
	font-size: 24px;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.scrollToTop {
		width: 40px;
		height: 40px;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.scrollToTop i {
		line-height: 40px;
		font-size: 20px;
	}
}

/* Slider Revolution
---------------------------------- */
.slider-banner-container {
	width: 100%;
	position: relative;
	padding: 0;
}
.slider-banner,
.slider-banner-2,
.slider-banner-3{
	width: 100%;
	position: relative;
}
.slider-banner>ul,
.slider-banner-2>ul,
.slider-banner-3>ul {
	display: none;
}

/* Slider Revolution captions */
.tp-caption {
	z-index: 5;
}
.tp-caption a.btn,
.tp-caption a.btn:hover {
	color: #ffffff;
}
.default_bg {
	background-color: #e84c3d;
	color: #fff;
}
.white_bg {
	background-color: #ffffff;
	color: #333333;
}
.dark_gray_bg {
	background-color: #666666;
	color: #fff;
}
.light_gray_bg {
	background-color: #fafafa;
	color: #333;
	border: 1px solid #f3f3f3!important;
	border-left: none!important;
}
.tp-caption.small_thin_white {
	font-size: 18px;
	line-height: 26px;
	color: #e1e1e1;
	font-weight: 300;
	text-shadow: 1px 1px 1px #000000;
}
.tp-caption.small_thin_dark {
	font-size: 18px;
	line-height: 26px;
	color: #000;
	font-weight: 400;
}
.tp-caption.large {
	font-size: 36px;
	padding: 0px 15px;
}
.tp-caption.medium {
	font-size: 22px;
	padding: 2px 10px;
}
.tp-caption.small {
	font-size: 14px;
	padding: 5px;
}

/* Large devices (Large desktops less than 1199px) */
@media (max-width:1199px) {
	.tp-caption {
		margin-left: 20px !important;
	}
}


/* Revolution Nav Controls */
.tparrows.round {
	background-image: none;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	top: 50% !important;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	transition: all linear 0.2s;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.tparrows.round:before {
	font-family: 'fontello';
	font-size: 24px;
	content: '\e87c';
	line-height: 52px;
	display: inline-block;
}
.tparrows.round.tp-rightarrow:before {
	content: '\e87d';
}
.tparrows.round:hover {
	color: #ffffff;
	background-color: #e84c3d;
}
.slideshow-boxed .slider-banner-container .tparrows {
	opacity: 0;
	filter: alpha(opacity=0);
}
.slideshow-boxed .slider-banner-container:hover .tparrows {
	opacity: 1;
	filter: alpha(opacity=100);
}
.tp-bullets {
	z-index: 100;
}
.tp-bullets.simplebullets.round .bullet {
	background-image: none;
	width: 14px;
	height: 14px;
	background: rgba(0, 0, 0, 0.5);
	border: none;
	margin: 0 3px;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	transition: all linear 0.2s;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.bullets-with-bg + .tp-bullets.preview4 {
	height: auto;
	background-color: rgba(255, 255, 255, 1);
	padding: 5px 15px;
	bottom: -6px !important;
	border-radius: 3px;
}
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected {
	background-color: #e84c3d;
}
.tp-bannertimer {
	background-image: none;
	background-color: rgba(232, 76, 61, 0.7);
	z-index: 100;
	display: none;
}
.slideshow-boxed .tp-bullets {
	bottom: -33px !important;
}
.slideshow-boxed .bullets-with-bg + .tp-bullets.preview4 {
	padding: 7px 15px 2px;
	bottom: -45px !important;
}
.slideshow-boxed .tp-rightarrow {
	right: 10px !important;
}
.slideshow-boxed .tp-leftarrow {
	left: 10px !important;
}
.slideshow-boxed .tp-bullets.hidebullets {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

/* Extra small devices (phones, less than 480px) */
@media (max-width:480px) {
	.tparrows,
	.tp-bullets {
		display: none;
	}
}

/*页内导航*/


@media(min-width: 1200px){
#subNav a{width: 110px;}
}
@media (min-width:961px) and (max-width:1199px){
#subNav a{width: 85px;}
}
#subNav {display: block;width: 100%;height: 70px;text-align: center;background: #f8f8f8;z-index: 100;margin-top: -1px;}
#subNav .wrap{height: 70px;}
#subNav li{float:left;position:relative;list-style: none;}
#subNav a{display:table-cell;height:70px;text-align:center;vertical-align:middle;color:#9c9a9a;}
#subNav a:hover{text-decoration:none}
#subNav a:hover,#subNav .adv_active a{background-color:#c29bd2;color:#fff}
.fixedSubNav{position:fixed;top:0;left:0;z-index:1000}

@media(max-width: 961px){
#subNav{display: none;}
}

/*下载*/
.download a{color: #c29bd2;display: block;}
.download a:hover{text-decoration: none;color: #c29bd2;}
.download a .letter p{font-size: 2em;font-weight: 100;text-align: center;}
.download a .letter p.version{color: #0F0F0F;font-size: 1.5em;}
.download .col-md-4{margin-top:40px;margin-bottom: 40px;}

.footer-content{margin-top: -15px;}
.footer-content .contact{text-align: center;margin-top: 18px;}
.footer-content .circle{text-align: center;}



/*about us*/ 
/* TEAM */
.team{
	padding: 5rem 0;
}

.team h1{
	margin-bottom: 15px;
	font-weight:300;
}

.team .tagline{		
	font-size: 15px;
	color: #c2c2c2;
	margin-bottom: 30px;
}

.team .thumbnail{
	border-color: transparent;
	padding: 0;
}

.team-img{
	position: relative;
	top: 0;
}

.team-overlay{
	top: 0;
}

.team .thumbnail .caption{
	padding-left: 0;
	padding-right: 0;
}

.team .caption h4 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
}

.team .caption span{
	color: #999;
	
	letter-spacing: 0.5px;
	font-size: 12px;
}

.team .caption p{
	color: #999;
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 20px;
}

.team .caption .fa{
	width: 28px; 
	height: 28px; 
	color: #32a1e9;
	background: #fdfbfc; 
	border-radius: 2px; 
	text-align: center; 
	padding-top: 7px;
}

.team .caption .fa:hover{
	color: #fff;
	background-color: #32a1e9;	
}

 .team-img{
	text-align: center;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.thumbnail:hover .team-overlay{
	top: 0;
	opacity: 1;
}

.team-img img{
	width: 100%;
	height: auto;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.team-img img{
	width: 100%;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 7s ease-in-out;
	-moz-transition: all 7s ease-in-out;
	-ms-transition: all 7s ease-in-out;
	-o-transition: all 7s ease-in-out;
	transition: all 1s ease-in-out;
}

.team .thumbnail:hover img{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.team-overlay{
	color: #fff;
	position: absolute;
	border-radius: 0;
	background-color: rgba(61, 160, 225, 0.6);
	height: 100%;
	width: 100%;
	opacity: 0;	
	top: 0;
}	

.team-overlay .fa {
	text-align: center;
	background-color: #fff;
	border-radius: 2px;
	color: #2b8ecf;
	font-size: 20px;
	height: 30px;
	margin-top: 120px;
	padding-top: 7px;
	width: 30px;
}

#high-performance1 img {
    display: none;
}
#high-performance1 img.active {
    display: block;
}
.main-container.gray-bg .main .container .text-center.title, .main-container.gray-bg .main .container, .main-container.gray-bg .main .container h3 {
    color: #fff;
}
.collaborators{background: #fafafa;}
.collaborators img{display: inline-block;width: auto;}

/*愿景*/
---------------------------------- */
.row.grid-space-0{margin-top: 30px;}

.pricing-tables {
	margin: 60px 0 0;
}
.plan {
	text-align: center;
	border: 1px solid #c5c5c5;
	border-top: none;
	margin-bottom: 40px !important;
}
.plan + .plan {
	border-left: none;
}
.plan .header {
	padding: 10px 0;
	margin: 0 -1px;
}
.plan .header h3 {
	display: inline-block;
	font-size: 24px;
	margin: 0;
	line-height: 28px;
	font-weight: normal;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px #494949;
}
.plan .header .price {
	display: inline-block;
	font-size: 16px;
	padding: 10px 0 0;
	font-weight: 400;
	color: inherit;
}
.plan .header .price span {
	text-transform: uppercase;
}
.plan ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	list-style: none;
}
.plan ul li {
	padding: 12px 0px;
	font-size: 15px;
	line-height: 18px;
	text-shadow: 1px 1px 0 #fff;
}
.plan ul li a.pt-popover {
	color: #000;
	border-bottom: 1px dashed #000;
	position: relative;
}
.plan ul li a.pt-popover:hover {
	text-decoration: none;
}
.plan ul li a.pt-popover:after {
	position: absolute;
	top: 0px;
	left: -15px;
	font-family: "FontAwesome";
	content: "\f059";
	color: #DDDDDD;
	font-size: 12px;
}
.best-value.plan ul li {
	padding: 15px 0;
}
.plan .popover {
	width: 250px;
	font-size: 13px;
	text-align: center;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.plan .popover-title {
	background-color: #e84c3d;
	color: #ffffff;
	text-shadow: none;
	font-size: 13px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.plan .popover-content {
	font-size: 12px;
}
.plan .btn {
	text-shadow: none;
}
.gray .plan {
	border-top: 1px solid #c5c5c5;
	background-color: #f1f1f1;
	-webkit-box-shadow: -1px 0 0px rgba(0, 0, 0, 0.15);
	box-shadow: -1px 0 0px rgba(0, 0, 0, 0.15);
}
.gray .plan .header {
	background: #fafafa;
	border: 1px solid #cacaca;
	width: 150px;
	height: 150px;
	margin: 15px auto;
	border-radius: 100%;
}
.gray .plan .header h3 {
	color: #e84c3d;
	display: block;
	margin-top: 30px;
}
.gray .plan .header .price {
	font-size: 24px;
	padding-top: 5px;
}
.gray .plan ul {
	background: #f1f1f1;
	border-top: 1px solid #e4e4e4;
}
.gray .plan ul li {
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #f8f8f8;
	color: #333333;
}
.white .plan {
	border-color: #f3f3f3;
}
.white .plan .header {
	color: #fff;
	background: #e84c3d;
}
.white .plan .header h3 {
	color: #fff;
}
.white .plan ul {
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	background-color: #fbfbfb;
}
.white .plan ul li {
	border-bottom: 1px solid #f5f5f5;
}
.stripped .header {
	background: #e84c3d;
	border: none;
	-webkit-box-shadow: 0px 0px 60px #cd3c2e inset;
	-moz-box-shadow: 0px 0px 60px #cd3c2e inset;
	box-shadow: 0px 0px 60px #cd3c2e inset;
	color: #fff;
}
.stripped .header h3 {
	color: #fff;
}
.stripped .plan ul {
	-webkit-box-shadow: 0px 0px 32px 0px #cacaca inset;
	-moz-box-shadow: 0px 0px 32px 0px #cacaca inset;
	box-shadow: 0px 0px 32px 0px #cacaca inset;
	background: #fdfdfd;
}
.stripped .plan ul li {
	border: 1px solid #ececec;
	border-top: none;
	color: #666;
}
.stripped .plan ul li:nth-child(even) {
	-webkit-box-shadow: 0px 0px 40px #e4e4e4 inset;
	-moz-box-shadow: 0px 0px 40px #e4e4e4 inset;
	box-shadow: 0px 0px 40px #e4e4e4 inset;
	background: #ffffff;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}
.pricing-tables.stripped .col-sm-4{padding-left: 0;padding-right: 0;}
@media (min-width: 768px){
.best-value.plan {
    top: -30px;
    position: relative;
}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.footer-content .col-xs-12{
	padding-left: 8%;
}
.footer-content .col-xs-12.foot_links{padding-left: 17%;}
}

@media(max-width: 768px) {
.footer-content .col-xs-12{
	padding-left: 27%;
}
.footer-content .col-xs-12.foot_links{padding-left: 43%;}
}


/*开发者页面*/
/* Slider Revolution
---------------------------------- */
.slider-banner-container {
	width: 100%;
	position: relative;
	padding: 0;
}
.slider-banner,
.slider-banner-2,
.slider-banner-3,
.slider-banner-fullscreen {
	width: 100%;
	position: relative;
}
.slider-banner>ul,
.slider-banner-2>ul,
.slider-banner-3>ul,
.slider-banner-fullscreen>ul {
	display: none;
}
.tp-loader.spinner0 {
	background: url("../images/loader.gif") no-repeat center center;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-animation: none;
	animation: none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	width: 44px;
	height: 44px;
	margin-top: -22px;
	margin-left: -22px;
}
.tp-loader.spinner4 .dot1,
.tp-loader.spinner4 .dot2 {
	background-color: #666666;
	box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.80);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.80);
}
.slideshow-boxed {
	padding: 20px 0 60px;
}
.slideshow-boxed .slider-banner-container {
	padding: 10px;
	background: #fff;
	border: 1px solid #eaeaea;
}
.slideshow-boxed .tp-caption {
	margin-left: 20px !important;
}

/* Slider Revolution captions */
.tp-caption {
	z-index: 5;
}
.tp-caption a.btn,
.tp-caption a.btn:hover {
	color: #ffffff;
}
.default_bg {
	background-color: #e84c3d;
	color: #fff;
}
.white_bg {
	background-color: #ffffff;
	color: #333333;
}
.dark_gray_bg {
	background-color: #666666;
	color: #fff;
}
.light_gray_bg {
	background-color: #fafafa;
	color: #333;
	border: 1px solid #f3f3f3!important;
	border-left: none!important;
}
.tp-caption.small_thin_white {
	font-size: 18px;
	line-height: 26px;
	color: #e1e1e1;
	font-weight: 300;
	text-shadow: 1px 1px 1px #000000;
}
.tp-caption.small_thin_dark {
	font-size: 18px;
	line-height: 26px;
	color: #000;
	font-weight: 400;
}
.tp-caption.large {
	font-size: 36px;
	padding: 0px 15px;
}
.tp-caption.medium {
	font-size: 22px;
	padding: 2px 10px;
}
.tp-caption.small {
	font-size: 14px;
	padding: 5px;
}

/* Large devices (Large desktops less than 1199px) */
@media (max-width:1199px) {
	.tp-caption {
		margin-left: 20px !important;
	}
}

/* Revolution Nav Controls */
.tparrows.round {
	background-image: none;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	top: 50% !important;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	transition: all linear 0.2s;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.tparrows.round:before {
	font-family: 'fontello';
	font-size: 24px;
	content: '\e87c';
	line-height: 52px;
	display: inline-block;
}
.tparrows.round.tp-rightarrow:before {
	content: '\e87d';
}
.tparrows.round:hover {
	color: #ffffff;
	background-color: #e84c3d;
}
.slideshow-boxed .slider-banner-container .tparrows {
	opacity: 0;
	filter: alpha(opacity=0);
}
.slideshow-boxed .slider-banner-container:hover .tparrows {
	opacity: 1;
	filter: alpha(opacity=100);
}
.tp-bullets {
	z-index: 100;
}
.tp-bullets.simplebullets.round .bullet {
	background-image: none;
	width: 14px;
	height: 14px;
	background: rgba(0, 0, 0, 0.5);
	border: none;
	margin: 0 3px;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	transition: all linear 0.2s;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.bullets-with-bg + .tp-bullets.preview4 {
	height: auto;
	background-color: rgba(255, 255, 255, 1);
	padding: 5px 15px;
	bottom: -6px !important;
	border-radius: 3px;
}
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected {
	background-color: #e84c3d;
}
.tp-bannertimer {
	background-image: none;
	background-color: rgba(232, 76, 61, 0.7);
	z-index: 100;
	display: none;
}
.slideshow-boxed .tp-bullets {
	bottom: -33px !important;
}
.slideshow-boxed .bullets-with-bg + .tp-bullets.preview4 {
	padding: 7px 15px 2px;
	bottom: -45px !important;
}
.slideshow-boxed .tp-rightarrow {
	right: 10px !important;
}
.slideshow-boxed .tp-leftarrow {
	left: 10px !important;
}
.slideshow-boxed .tp-bullets.hidebullets {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

/* Extra small devices (phones, less than 480px) */
@media (max-width:480px) {
	.tparrows,
	.tp-bullets {
		display: none;
	}
}

.moving {
	-webkit-animation: moving 1.7s ease-out infinite;
	animation: moving 1.7s ease-out infinite;
	position: relative;
	top: -30px;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}
.btn-remove {
	font-size: 10px;
	padding: 3px 15px;
	min-width: 0;
}
@-webkit-keyframes moving {
	0% {
		top: -30px;
	}
	60% {
		top: 0px;
	}
}
@keyframes moving {
	0% {
		top: -30px;
	}
	60% {
		top: 0px;
	}
}


.gallery.row {
	margin-left: -5px;
	margin-right: -5px;
}
.gallery-item {
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}
.separator-2 {
	display: block;
	width: 30px;
	height: 5px;
	margin: 15px 0 15px;
	background-color: #cccccc;
	position: relative;
}
@-moz-document url-prefix() {
	.object-visible,
	.touch .object-non-visible {
		-webkit-transition: opacity 0.6s ease-in-out;
		-moz-transition: opacity 0.6s ease-in-out;
		-o-transition: opacity 0.6s ease-in-out;
		-ms-transition: opacity 0.6s ease-in-out;
		transition: opacity 0.6s ease-in-out;
	}
}
.vertical-divider-left,
.vertical-divider-left-lg {
	border-left: 1px solid #eeeeee;
	padding-left: 50px;
	margin-left: 20px;
}
.vertical-divider-right,
.vertical-divider-right-lg {
	border-right: 1px solid #eeeeee;
	padding-right: 50px;
	margin-right: 20px;
}
.grid span {
	padding: 15px 5px;
	background-color: #fafafa;
	border: 1px solid #f3f3f3;
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

/* Medium devices (desktops, tablets, 992px and up) */
@media (min-width:992px) {
	.margin-top-clear {
		margin-top: 0 !important;
	}
	.margin-bottom-clear {
		margin-bottom: 0 !important;
	}
}

/* Large and Medium devices (desktops, tablets less than 1199px) */
@media (max-width:1199px) {
	/* miscellaneous */
	.portfolio-item.vertical-divider-left-lg,
	.side.vertical-divider-left-lg {
		border-left: none;
		padding-left: 0px;
		margin-left: 0px;
	}
}

/* Medium devices (desktops, tablets less than 991px) */
@media (max-width:991px) {
	/* miscellaneous */
	.portfolio-item.vertical-divider-left,
	.side.vertical-divider-left {
		border-left: none;
		padding-left: 0px;
		margin-left: 0px;
	}
}
.dropdown-menu li a.a_purple{color: #954db3;}
