<p>
	<span>地&nbsp;址:</span>
	<span>北京市海淀区清华大学FIT楼3-124</span>
</p>
<p>
	<span>联系我们:</span>
	<a href="#">openthos@hotmail.com</a>
</p>
<p>
	<span>友情链接:</span>
	<a target="_blank" href="http://www.emindos.org/">Emindos官网</a>
</p>

<!--<a href="{{baseurl}}/about.html" style="white-space:nowrap;">About</a> |
<a href="{{baseurl}}/legalese.html" style="white-space:nowrap;">Legal</a> |
<a href="{{baseurl}}/faq.html" style="white-space:nowrap;">FAQ</a> |
<a href="{{baseurl}}/contrib" style="white-space:nowrap;">How to Contribute</a> |
<a href="{{baseurl}}/coc.html" style="white-space:nowrap;">Code of Conduct</a> |
<a href="{{wiki}}/How-to-Search" style="white-space:nowrap;">Search</a>-->
