<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
	<div class="blog_content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li class="active">
							{% if page.mark == 'join' %}
							<a href="join.html">加入Openthos</a>
							{% else %}
							<a href="{{baseurl}}/blog">攻城狮手札</a>
							{% endif %}
						</li>
						{% if page.symbol == 'blog_detail' %}
						<li>{{page.title}}</li>
						{%endif%}
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- page-intro end -->
