<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
	<div class="blog_content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="{{baseurl}}/index.html">Home</a></li>
						<li>Blog</li>
						<li class="active">
							{% if page.mark == 'join' %}
							加入Openthos
							{% else %}
							攻城狮手札
							{% endif %}
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- page-intro end -->
