<header class="header fixed clearfix">
	<div class="container">
		<div class="row">
			{% if page.mark != 'other' %}
			<div class="col-md-3 ">

				<!-- header-left start -->
				<!-- ================ -->
				<div class="header-left clearfix">

					<!-- logo -->
					<div class="logo text-center">
						<a href="/"><img id="logo" src="../images/logo.png"></a>
					</div>

				</div>
				<!-- header-left end -->
			</div>
			{%endif%}
			<div class="col-md-9 {% if page.mark == 'other' %}col-md-offset-3{%endif%}">

				<!-- header-right start -->
				<!-- ================ -->
				<div class="header-right clearfix">

					<!-- main-navigation start -->
					<!-- ================ -->
					<div class="main-navigation animated">

						<!-- navbar start -->
						<!-- ================ -->
						<nav class="navbar navbar-default" role="navigation">
							<div class="container-fluid">

								<!-- Toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right">
										{% if page.mark != 'other' %}
										<li class="dropdown {% if page.number == 1 %}active{%endif%}">
											<a href="/" >首&nbsp;页</a>
										</li>
										{%endif%}
										<!-- mega-menu start -->
										<li class="dropdown mega-menu {% if page.number == 2 %}active{%endif%}">
											<a href="join.html">
												加入OPENTHOS
											</a>
										</li>
										<!-- mega-menu end -->
										<li class="dropdown {% if page.number == 3 %}active{%endif%}">
											<a href="about.html">关于我们</a>
										</li>
										<li class="dropdown">
											<ul class="social-links circle">
												<li class="facebook"><a href="###"><i class="fa fa-weibo"></i></a></li>
												<li class="twitter"><a href="###"><i class="fa fa-weixin"></i></a></li>
												<li class="googleplus"><a href="###"><i class="fa fa-github"></i></a></li>
												<li class="skype"><a href="###"><i class="fa fa-envelope"></i></a></li>
											</ul>
										</li>
									</ul>
								</div>

							</div>
						</nav>
						<!-- navbar end -->

					</div>
					<!-- main-navigation end -->

				</div>
				<!-- header-right end -->

			</div>
		</div>
	</div>
</header>
<!-- header end -->
