{%include head.html%}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">清华大学-同方股份计算机系统结构联合研究中心</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->

				<div class="row">
					<div class="col-md-7">
						<p>
							同方股份有限公司与清华大学本着友好合作、互惠互利、优势互补、共同发展“双赢”的原则，
							在信息技术与计算机系统结构领域，充分利用清华大学已有的科技成果和研发力量，结合同方股份有限公司的资金、资源和平台优势，
							联合成立“清华大学-同方股份有限公司计算机系统结构联合研究中心”.
						</p>
						<p>联合研究中心的建设目标是：通过合作研究信息技术领域的核心技术及安全可靠的计算机产品、软件与解决方案，
							努力提升双方在计算机系统结构领域的研发水平，增强企业在自主可控计算机系统方面的核心竞争力，
							同时带动相关科研及产业链条的进步，为保障国家信息安全做贡献。
						</p>
						
						<h2>联合研究中心研究方向:</h2>
						<ul class="list-icons">
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall"><i class="icon-check"></i> 核心自主的计算机</li>
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check"></i> 国产高性能服务器</li>
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall"><i class="icon-check"></i> 网络存储系统</li>
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check"></i> 通用国产操作系统</li>
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall"><i class="icon-check"></i> 信息安全核心技术等</li>
						</ul>
						<h2>在重点领域率先突破</h2>
						<ul class="list-icons">
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall"><i class="icon-check"></i> TSTOR高可靠自维护网络存储系统</li>
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check"></i> OPENTHOS开放桌面操作系统 </li>
						</ul>
					</div>

					<!-- sidebar start -->
					<aside class="sidebar col-md-5">
						<div class="side vertical-divider-left">
							<div class="block clearfix">
								<h3 class="title margin-top-clear">Tsinghua University-Tsinghua Tongfang Co.,L.td</h3>
								<div class="embed-responsive embed-responsive-16by9">
									<img src="../images/tongfang.png" alt="" />
									<!--<iframe class="embed-responsive-item" src="//player.vimeo.com/video/29198414?byline=0&amp;portrait=0"></iframe>-->
									<!--<p><a href="http://vimeo.com/29198414">Introducing Vimeo Music Store</a> from <a href="http://vimeo.com/staff">Vimeo Staff</a> on <a href="https://vimeo.com">Vimeo</a>.</p>-->  
								</div>
							</div>
						</div>
					</aside>
					<!-- sidebar end -->
				</div>

			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->

<section class="section developer">
	<div class="container">
		<h1>目前活跃的开发者</h1>
		<div class="separator-2"></div>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="content">
					<p class="text-center">活动经</p>
					<p class="text-center">阿凡达</p>
					<p class="text-center">路&nbsp;&nbsp;&nbsp;飞</p>
					<p class="text-center">艾&nbsp;&nbsp;&nbsp;斯</p>
					<p class="text-center">娜&nbsp;&nbsp;&nbsp;美</p>
				</div>
			</div> 
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="content">
					<p class="text-center">活动经</p>
					<p class="text-center">阿凡达</p>
					<p class="text-center">路&nbsp;&nbsp;&nbsp;飞</p>
					<p class="text-center">艾&nbsp;&nbsp;&nbsp;斯</p>
					<p class="text-center">娜&nbsp;&nbsp;&nbsp;美</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="content">
					<p class="text-center">活动经</p>
					<p class="text-center">阿凡达</p>
					<p class="text-center">路&nbsp;&nbsp;&nbsp;飞</p>
					<p class="text-center">艾&nbsp;&nbsp;&nbsp;斯</p>
					<p class="text-center">娜&nbsp;&nbsp;&nbsp;美</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="content">
					<p class="text-center">活动经</p>
					<p class="text-center">阿凡达</p>
					<p class="text-center">路&nbsp;&nbsp;&nbsp;飞</p>
					<p class="text-center">艾&nbsp;&nbsp;&nbsp;斯</p>
					<p class="text-center">娜&nbsp;&nbsp;&nbsp;美</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="content">
					<p class="text-center">活动经</p>
					<p class="text-center">阿凡达</p>
					<p class="text-center">路&nbsp;&nbsp;&nbsp;飞</p>
					<p class="text-center">艾&nbsp;&nbsp;&nbsp;斯</p>
					<p class="text-center">娜&nbsp;&nbsp;&nbsp;美</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="content">
					<p class="text-center">活动经</p>
					<p class="text-center">阿凡达</p>
					<p class="text-center">路&nbsp;&nbsp;&nbsp;飞</p>
					<p class="text-center">艾&nbsp;&nbsp;&nbsp;斯</p>
					<p class="text-center">娜&nbsp;&nbsp;&nbsp;美</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section developer">
	<div class="container">
		<h1>参与项目的开发者</h1>
		<div class="separator-2"></div>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="content">
					<p class="text-center">活动经</p>
					<p class="text-center">阿凡达</p>
					<p class="text-center">路&nbsp;&nbsp;&nbsp;飞</p>
					<p class="text-center">艾&nbsp;&nbsp;&nbsp;斯</p>
					<p class="text-center">娜&nbsp;&nbsp;&nbsp;美</p>
				</div>
			</div> 
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="content">
					<p class="text-center">活动经</p>
					<p class="text-center">阿凡达</p>
					<p class="text-center">路&nbsp;&nbsp;&nbsp;飞</p>
					<p class="text-center">艾&nbsp;&nbsp;&nbsp;斯</p>
					<p class="text-center">娜&nbsp;&nbsp;&nbsp;美</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="content">
					<p class="text-center">活动经</p>
					<p class="text-center">阿凡达</p>
					<p class="text-center">路&nbsp;&nbsp;&nbsp;飞</p>
					<p class="text-center">艾&nbsp;&nbsp;&nbsp;斯</p>
					<p class="text-center">娜&nbsp;&nbsp;&nbsp;美</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="content">
					<p class="text-center">活动经</p>
					<p class="text-center">阿凡达</p>
					<p class="text-center">路&nbsp;&nbsp;&nbsp;飞</p>
					<p class="text-center">艾&nbsp;&nbsp;&nbsp;斯</p>
					<p class="text-center">娜&nbsp;&nbsp;&nbsp;美</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="content">
					<p class="text-center">活动经</p>
					<p class="text-center">阿凡达</p>
					<p class="text-center">路&nbsp;&nbsp;&nbsp;飞</p>
					<p class="text-center">艾&nbsp;&nbsp;&nbsp;斯</p>
					<p class="text-center">娜&nbsp;&nbsp;&nbsp;美</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="content">
					<p class="text-center">活动经</p>
					<p class="text-center">阿凡达</p>
					<p class="text-center">路&nbsp;&nbsp;&nbsp;飞</p>
					<p class="text-center">艾&nbsp;&nbsp;&nbsp;斯</p>
					<p class="text-center">娜&nbsp;&nbsp;&nbsp;美</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="collaborators">
	<div class="container">
		<div class="row  text-center">
			<h1>合作伙伴</h1>
			<div class="col-md-4">
				<img src="../images/client-2.png"/>
			</div>
			<div class="col-md-4">
				<img src="../images/client-2.png"/>
			</div>
			<div class="col-md-4">
				<img src="../images/client-2.png"/>
			</div>
		</div>
	</div>
</section>

{%include footer.html%}
