{%include head.html%}

<!-- TEAM -->
<section class="team" id="show">
	<div class="container">
		<div class="row">
			<div class="col-md-3 ">
				
			</div>
			<div class="col-md-6 col-sm-6 text-center">
				<h1>我们的团队</h1>
				<div class="border center-block"></div>
				<!--<p class="tagline">
					Openthos操作系统是一款基于Android 6开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验
				</p>-->
			</div>
			<!--<div class="col-md-3 ">
				
			</div>-->
		</div>	
	</div>	
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3 col-sm-6 ">
				<div class="thumbnail">
					<div class="team-img">
						<img class="img-responsive" src="images/team-1.png" alt="Team Image">
						<div class="team-overlay"><i class="fa fa-smile-o"></i></div>
					</div>
					<div class="caption">
						<h4>Jason Collins</h4>
						<span>Ceo & Project Menager</span>
						<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>
						
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 ">
				<div class="thumbnail">
					<div class="team-img">
						<img class="img-responsive" src="images/team-2.png" alt="Team Image">
						<div class="team-overlay"><i class="fa fa-smile-o"></i></div>
					</div>
					<div class="caption">
						<h4>Amanda kliens</h4>
						<span>Web Designer & Accountant</span>
						<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>
						
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<div class="team-img">
						<img class="img-responsive" src="images/team-3.png" alt="Team Image">
						<div class="team-overlay"><i class="fa fa-smile-o"></i></div>
					</div>
					<div class="caption">
						<h4>Steve James</h4>
						<span>Web Developer & Support</span>
						<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>

					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<div class="team-img">
						<img class="img-responsive" src="images/team-4.png" alt="Team Image">
						<div class="team-overlay"><i class="fa fa-smile-o"></i></div>
					</div>
					<div class="caption">
						<h4>Christo Rojer</h4>
						<span>Seo expart & Support</span>
						<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END TEAM -->

<section class="collaborators">
	<div class="container">
		<div class="row  text-center">
			<h1>合作伙伴</h1>
			<div class="col-md-4">
				<img src="../images/client-2.png"/>
			</div>
			<div class="col-md-4">
				<img src="../images/client-2.png"/>
			</div>
			<div class="col-md-4">
				<img src="../images/client-2.png"/>
			</div>
		</div>
	</div>
</section>

<!-- section start -->
<!-- ================ -->
<div class="section">
	<h1 class="text-center">我们的愿景</h1>
	<div class="container">
		<!-- pricing tables start -->
		<div class="pricing-tables stripped" data-animation-effect="fadeInUpSmall">
			
			<div class="row grid-space-0">
				
				<!-- pricing table start -->
				<div class="col-sm-4 plan stripped">
					<div class="header">
						<h3>探索</h3>
					</div>
					<ul>
						<li>INTEL平台</li>
						<li>OPENTHOS + WINDOWS双系统</li>
					</ul>
				</div>
				<!-- pricing table end -->

				<!-- pricing table start -->
				<div class="col-sm-4 plan stripped best-value">
					<div class="header">
						<h3>超越</h3>
					</div>
					<ul>
						<li>OPENTHOS + 多种CPU</li>
						<li>用户无需关心CPU架构</li>
					</ul>
				</div>
				<!-- pricing table end -->

				<!-- pricing table start -->
				<div class="col-sm-4 plan stripped">
					<div class="header">
						<h3>中国梦</h3>
					</div>
					<ul>
						<li>完全自主可控</li>
						<li>助力国家安全与中华民族复兴</li>
					</ul>
				</div>
				<!-- pricing table end -->
			</div>
		</div>
		<!-- pricing tables end -->
	</div>
</div>
<!-- section end -->

{%include footer.html%}
