			{%include head.html%}
			<!-- TEAM -->
			<section class="team" id="show6">
				<div class="container">
					<div class="row">
						<div class="col-md-3 ">
							
						</div>
						<div class="col-md-6 col-sm-6 text-center">
							<h1>Our Team</h1>
							<div class="border center-block"></div>
							<p class="tagline">
								Openthos操作系统是一款基于Android 6开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验
							</p>
						</div>
						<div class="col-md-3 ">
							
						</div>
					</div>	
				</div>	
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6 ">
							<div class="thumbnail">
								<div class="team-img">
									<img class="img-responsive" src="images/team-1.png" alt="Team Image">
									<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
								</div>
								<div class="caption">
									<h4>Jason Collins</h4>
									<span>Ceo & Project Menager</span>
									<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>
									
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 ">
							<div class="thumbnail">
								<div class="team-img">
									<img class="img-responsive" src="images/team-2.png" alt="Team Image">
									<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
								</div>
								<div class="caption">
									<h4>Amanda kliens</h4>
									<span>Web Designer & Accountant</span>
									<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>
									
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="thumbnail">
								<div class="team-img">
									<img class="img-responsive" src="images/team-3.png" alt="Team Image">
									<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
								</div>
								<div class="caption">
									<h4>Steve James</h4>
									<span>Web Developer & Support</span>
									<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>

								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="thumbnail">
								<div class="team-img">
									<img class="img-responsive" src="images/team-4.png" alt="Team Image">
									<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
								</div>
								<div class="caption">
									<h4>Christo Rojer</h4>
									<span>Seo expart & Support</span>
									<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- END TEAM -->
		
				{%include footer.html%}
