{% include head.html %}
{% include nav.html %}

<section class="main-container">
	<div class="container">
		<div class="row">
			<div class="main col-md-12">
				<h1 class="page-title">Blog</h1>
				<div class="separator-2"></div>
				<p>记录工作日志</p>
				{%assign index = paginator.page | times: paginator.per_page | minus: paginator.per_page %} 
                {% for post in site.posts limit: paginator.per_page offset: index%} 
                {% assign post_sitedata = site.data.posts[post.title] %}
				<!-- blogpost start -->
				<article class="clearfix blogpost object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
					<div class="overlay-container">
						<img src="{{baseurl}}/images/blog-1.png" alt="">
						<div class="overlay">
							<div class="overlay-links">
								<a href="#"><i class="fa fa-link"></i></a>
								<a href="{{baseurl}}/images/blog-1.png" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
							</div>
						</div>
					</div>
					<div class="blogpost-body">
						<div class="post-info">
							<span class="day">{{ post.date | date: '%d' }}</span>
							<span class="month">
								{% assign m = post.date | date: "%-m" %}
                                    {% case m %}
                                      {% when '1' %}January
                                      {% when '2' %}Febrary
                                      {% when '3' %}March
                                      {% when '4' %}April
                                      {% when '5' %}May
                                      {% when '6' %}June
                                      {% when '7' %}July
                                      {% when '8' %}August
                                      {% when '9' %}September
                                      {% when '10' %}October
                                      {% when '11' %}November
                                      {% when '12' %}December
                                    {% endcase %}
							</span>
							<span class="year">{{ post.date | date: '%-y' }}</span>
						</div>
						<div class="blogpost-content">
							<header>
								<h2 class="title"><a href="{{post.url}}">{{post.title}}</a></h2>
								<div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">{{post.name}}</a></div>
							</header>
							{{post.excerpt}}
							<!--<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>-->
						</div>
					</div>
					<footer class="clearfix">
						<ul class="links pull-left">
							<li><i class="fa fa-comment-o pr-5"></i> <a href="#">22 comments</a> |</li> 
							<li><i class="fa fa-tags pr-5"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a> </li>
						</ul>
						<a class="pull-right link" href="#"><span>Read more</span></a>
					</footer>
				</article>
				<!-- blogpost end -->
				{%endfor%}
				
				<!-- pagination start -->
				{% if paginator.total_pages > 1 %}
				<ul class="pagination">
					{% if paginator.previous_page %}
					<li><a href="#"><<</a></li>
					{%endif%}
					{% for page in (1..paginator.total_pages) %} 
					{%if page == paginator.page%}
					<li class="active"><a href="#">{{page}} <span class="sr-only">(current)</span></a></li>
					{%else%}
					<li><a href="#">{{page}}</a></li>
					{%endif%}
					{%endfor%}
					{% if paginator.next_page %}
					<li><a href="#">>></a></li>
					{%endif%}
				</ul>
				{%endif%}
				<!-- pagination end -->
			</div>
		</div>
	</div>
</section>

{% include footer.html %}
