{%include head.html%}

<div id="header-top" class="header-top banner">

	<!-- slideshow start -->
	<!-- ================ -->
	<div class="slideshow">
		
		<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-banner-container">
			<div class="slider-banner-fullscreen">
				<ul>
					<!-- slide 1 start -->
					<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Slide 1">
					
					<!-- main image -->
					<img src="../images/develop.png"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
	
					<!-- LAYER NR. 1 -->
					<div class="tp-caption very_large_text sfr tp-resizeme"
						data-x="center"
						data-y="70" 
						data-speed="600"
						data-start="1200">Openthos
					</div>
	
					<!-- LAYER NR. 2 -->
					<div class="tp-caption light_medium_20 sfb tp-resizeme"
						data-x="center"
						data-y="170" 
						data-speed="600"
						data-start="1600">开放
					</div>
	
					<!-- LAYER NR. 3 -->
					<div class="tp-caption light_medium_20 sfb tp-resizeme"
						data-x="center"
						data-y="220" 
						data-speed="600"
						data-start="1800">开源
					</div>
	
					<!-- LAYER NR. 4 -->
					<div class="tp-caption light_medium_20 sfb tp-resizeme"
						data-x="center"
						data-y="270" 
						data-speed="600"
						data-start="2000">安全可信
					</div>
	
					<!-- LAYER NR. 5 -->
					<!--<div class="tp-caption light_medium_20 sfb tp-resizeme"
						data-x="center"
						data-y="320" 
						data-speed="600"
						data-start="2200">Very Easy to Customize
					</div>-->
	
					<!-- LAYER NR. 6 -->
					<div class="tp-caption light_medium_20 sfb tp-resizeme"
						data-x="center"
						data-y="370" 
						data-speed="600"
						data-start="2400">以及更多...
					</div>
	
					<!-- LAYER NR. 7 -->
					<div class="tp-caption light_medium_20 sfb"
						data-x="center"
						data-y="500" 
						data-speed="600"
						data-start="0">
						<a href="#Team" class="btn btn-lg moving smooth-scroll">
							<p>加入我们</p>
							<i class="fa fa-angle-double-down fa-2x"></i>
						</a>
					</div>
	
					</li>
					<!-- slide 1 end -->
	
				</ul>
				<div class="tp-bannertimer tp-bottom"></div>
			</div>
		</div>
		<!-- slider revolution end -->
	
	</div>
	<!-- slideshow end -->
	
	</div>
	<!-- header-top end -->

<!-- TEAM -->
<section class="team" id="Team">
	<div class="container">
		<div class="row">
			<div class="col-md-3 ">
				
			</div>
			<div class="col-md-6 col-sm-6 text-center">
				<h1>Our Team</h1>
				<div class="border center-block"></div>
				<p class="tagline">
					Openthos操作系统是一款基于Android 6开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验
				</p>
			</div>
			<div class="col-md-3 ">
				
			</div>
		</div>	
	</div>	
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 ">
				<div class="thumbnail">
					<div class="team-img">
						<img class="img-responsive" src="images/team-1.png" alt="Team Image">
						<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
					</div>
					<div class="caption">
						<h4>Jason Collins</h4>
						<span>Ceo & Project Menager</span>
						<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>
						
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 ">
				<div class="thumbnail">
					<div class="team-img">
						<img class="img-responsive" src="images/team-2.png" alt="Team Image">
						<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
					</div>
					<div class="caption">
						<h4>Amanda kliens</h4>
						<span>Web Designer & Accountant</span>
						<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>
						
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<div class="team-img">
						<img class="img-responsive" src="images/team-3.png" alt="Team Image">
						<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
					</div>
					<div class="caption">
						<h4>Steve James</h4>
						<span>Web Developer & Support</span>
						<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>

					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<div class="team-img">
						<img class="img-responsive" src="images/team-4.png" alt="Team Image">
						<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
					</div>
					<div class="caption">
						<h4>Christo Rojer</h4>
						<span>Seo expart & Support</span>
						<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END TEAM -->

	{%include footer.html%}
