			{%include head.html%}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner" id="banner">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow">
					
					<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-banner-container">
			<div class="slider-banner-2">
				<ul>
					<!-- slide 1 start -->
					<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Slide 1">

						<!-- LAYER NR. 1 -->
						<!--<div class="tp-caption default_bg large sft tp-resizeme"-->
							 <!--data-x="0"-->
							 <!--data-y="70"-->
							 <!--data-speed="700"-->
							 <!--data-start="700" style="background-color: #e84c3d;">OPENTHOS-->
						<!--</div>-->

						<!-- LAYER NR. 3 -->
						<div class="tp-caption light_gray_bg sft medium tp-resizeme whiteColor"
							 data-x="0"
							 data-y="120"
							 data-speed="700"
							 data-start="700">OPENTHOS是以Android为基础的
						</div>

						<!-- LAYER NR. 5 -->
						<div class="tp-caption light_gray_bg sft medium tp-resizeme whiteColor"
							 data-x="0"
							 data-y="170"
							 data-speed="700"
							 data-start="700">开源桌面操作系统， 兼具了经典个
						</div>


						<!-- LAYER NR. 7 -->
						<div class="tp-caption light_gray_bg sft medium tp-resizeme whiteColor"
							 data-x="0"
							 data-y="220"
							 data-speed="700"
							 data-start="700">人电脑操作系统和Android操作系
						</div>


						<!-- LAYER NR. 9 -->
						<div class="tp-caption light_gray_bg sft medium tp-resizeme whiteColor"
							 data-x="0"
							 data-y="270"
							 data-speed="700"
							 data-start="700">统的优势,提供高性能、高安全、跨
						</div>

						<!-- LAYER NR. 10 -->
						<div class="tp-caption dark_gray_bg sft medium tp-resizeme whiteColor"
							 data-x="0"
							 data-y="320"
							 data-speed="700"
							 data-start="700">平台的现代用户体验。
						</div>

						<!-- LAYER NR. 11 -->
						<div class="tp-caption sft tp-resizeme"
							 data-x="right"
							 data-y="center"
							 data-speed="700"
							 data-start="700" id="imgFa"><img id="bannerImg" src="images/openthos_img.png" alt="">
						</div>



						<!--<div class="tp-caption light_medium_20 sfb"-->
						<!--data-x="center"-->
						<!--data-y="440"-->
						<!--data-speed="600"-->
						<!--data-start="0">-->
						<!--<a href="#subNav" class="btn btn-lg smooth-scroll">-->
							<!--<p>了解更多</p>-->
							<!--<i class="fa fa-angle-double-down fa-2x"></i>-->
						<!--</a>-->
					<!--</div>-->
	
					</li>
					<!-- slide 1 end -->
	
				</ul>
				<!--<div class="tp-bannertimer tp-bottom"></div>-->
			</div>
		</div>
		<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->

			<!--页内导航开始-->
			<div id="subNav" class="">
				<div class="container">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<ul class="wrap col-md-offset-3">
							    <li class="nav_fa"><a href="#show1" class="adv_one">桌面化</a></li>
							    <li class="nav_fa" ><a href="#show2" class="adv_two">安全增强</a></li>
							    <li class="nav_fa"><a href="#show3" class="adv_three">CLOUD</a></li>
							    <li class="nav_fa"><a href="#show4" class="adv_four">愿景</a></li>
							</ul>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
			  
			</div>
			<!--页内导航结束-->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container gray-bg" id="show1">

				<!-- main start -->
				<!-- ================ -->
				<div class="main">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1 class="text-center title">全面桌面化的安卓</h1>
								<!-- section1 start -->
								<!-- ================ -->
								<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
									<div class="container">
										<br>
										<div class="row">
											<div class="col-md-8">
												<img src="../images/img1.png" alt="">
												<div class="space hidden-md hidden-lg"></div>
											</div>
											<div class="col-md-4">
												<h2 class="space-top">多窗口、多任务</h2>
											</div>
										</div>
									</div>
								</div>
								<!-- section end -->
								<hr>
								<!-- section2 start -->
								<!-- ================ -->
								<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
									<div class="container">
										<br>
										<div class="row">
											<div class="col-md-4">
												<h2 class="space-top">为桌面化开发核心应用</h2>
											</div>
											<div class="col-md-8">
												<img src="../images/img2.png" alt="">
												<div class="space hidden-md hidden-lg"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- section end -->
								<hr>
								<!-- section3 start -->
								<!-- ================ -->
								<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
									<div class="container">
										<br>
										<div class="row">
											<div class="col-md-8">
												<img src="../images/print.png" alt="">
												<div class="space hidden-md hidden-lg"></div>
											</div>
											<div class="col-md-4">
												<h2 class="space-top">通用PC外设支持</h2>
											</div>
										</div>
									</div>
								</div>
								<!-- section end -->
							</div>
						</div>
					</div>
				</div>
				<!-- main end -->

			</section>
			<!-- main-container end -->
			
			<!-- section start -->
			<!-- ================ -->
			<div class="section clearfix" id="show2">

				<div class="container">
					<h1 class="text-center">基于TCM与国密算法的可信计算体系</h1>
					<!--<div class="separator"></div>-->
					<div class="row">
						<div class="col-md-9">


							<h3 class="marB-20">中国可信计算、中国商密算法 </h3>
							<!--<div class="separator-2"></div>-->

							<div class="safe safe1" >
								<p class="col-md-8 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="0">固件+密码芯片</p>
							</div>
							<div class="safe safe2">
								<p class="col-md-8 col-md-offset-1 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">内核和启动镜像验证</p>
							</div>
							<div class="safe safe3">
								<p class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">系统分区逐扇区随访问验证</p>
							</div>
							<div class="safe safe4">
								<p class="col-md-8 col-md-offset-3 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">数据分区文件随访问验证</p>
							</div>
							<div class="safe safe5">
								<p class="col-md-8 col-md-offset-4 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="400">应用程序安全沙盒</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">


							<h3 class="marB-20">用户应用防护</h3>
							<!--<div class="separator-2"></div>-->
							<div class="" style="background:url('../images/bg.png')">
								<img src="../images/defent.png" alt="">
							</div>

						</div>
					</div>
				</div>

			</div>
			<!-- section end -->

			<!--section start-->
			<section id="show3">
				<h1 class="text-center" style="margin-bottom:40px;">OPENTHOS CLOUD</h1>

			<div class="parallax parallax-bg-3 dark-translucent-bg object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="300" style="background-position: 50% -49px;" id="show5">
				<div class="container">
					<div class="stats row grid-space-10">

						<div class="col-md-2 col-sm-2">
							<div class="box-style-1">
								<img src="images/cloud0.png" class="cloud_imgs">
								<h2 class="text-center">无限版本实时同步</h2>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="box-style-1">
								<img src="images/cloud1.png" class="cloud_imgs">
								<h2 class="text-center">网络存取数据</h2>
							</div>
						</div>
						<div class="col-md-2 col-sm-2">
							<div class="box-style-1">
								<img src="images/cloud2.png" class="cloud_imgs">
								<h2 class="text-center">电脑手机全终端</h2>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="box-style-1">
								<img src="images/cloud3.png" class="cloud_imgs">
								<h2 class="text-center">端对端加密</h2>
							</div>
						</div>
						<div class="col-md-2 col-sm-2">
							<div class="box-style-1">
								<img src="images/cloud4.png" class="cloud_imgs">
								<h2 class="text-center">多副本异地容灾</h2>
							</div>
						</div>
					</div>
				</div>

			</div>
			</section>

			<!--section end-->
			
			<!-- section start -->
			<!-- ================ -->
			<div class="section clearfix" id="show4">

				<div class="container">
					<h1 class="text-center">我们的愿景</h1>
					<!--<div class="separator"></div>-->
					<div class="row">
						<div class="col-md-12">
							<h3 style="margin-bottom: 40px;">跨硬件架构的统一用户体验</h3>
							<div class="col-md-2 col-sm-4 col-xs-4" >
								<img  style="border: 1px solid #e2e2e2;margin-bottom: 20px;" src="../images/intel.png" alt="">
							</div>
							<div class="col-md-2 col-sm-4 col-xs-4">
								<img  style="border: 1px solid #e2e2e2;margin-bottom: 20px;" src="../images/1.jpg" alt="">
							</div>
							<div class="col-md-2 col-sm-4 col-xs-4">
								<img  style="border: 1px solid #e2e2e2;margin-bottom: 20px;" src="../images/4.jpg" alt="">
							</div>
							<div class="col-md-2 col-sm-4 col-xs-4">
								<img  style="border: 1px solid #e2e2e2;margin-bottom: 20px;" src="../images/5.jpg" alt="">
							</div>
							<div class="col-md-2 col-sm-4 col-xs-4">
								<img  style="border: 1px solid #e2e2e2;margin-bottom: 20px;" src="../images/2.jpg" alt="">
							</div>
							<div class="col-md-2 col-sm-4 col-xs-4">
								<img  style="border: 1px solid #e2e2e2;margin-bottom: 20px;" src="../images/amd.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 style="margin-bottom: 40px;">OPENTHOS CLOUD实现所有设备上数据与应用环境的实时一致 </h3>
							<div class="col-md-2 col-sm-4 col-xs-4">
								<img style="border: 1px solid #e2e2e2;margin-bottom: 20px;" src="../images/world2.png" alt="">
							</div>
							<div class="col-md-2 col-sm-4 col-xs-4">
								<img style="border: 1px solid #e2e2e2;margin-bottom: 20px;" src="../images/world1.png" alt="">
							</div>
							<div class="col-md-2 col-sm-4 col-xs-4">
								<img style="border: 1px solid #e2e2e2;margin-bottom: 20px;" src="../images/world5.png" alt="">
							</div>
							<div class="col-md-2 col-sm-4 col-xs-4" >
								<img style="border: 1px solid #e2e2e2;margin-bottom: 20px;" src="../images/computer.jpg" alt="">
							</div>
							<div class="col-md-2 col-sm-4 col-xs-4" >
								<img style="border: 1px solid #e2e2e2;margin-bottom: 20px;" src="../images/world4.png" alt="">
							</div>
							<div class="col-md-2 col-sm-4 col-xs-4">
								<img style="border: 1px solid #e2e2e2;margin-bottom: 20px;" src="../images/world3.png" alt="">
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-md-12" >
							<h3 style="margin-bottom: 40px;">实现完全自主可控</h3>
							<div class="col-md-4 col-sm-4 col-xs-4 object-non-visible" style="margin-left: -2%;" data-animation-effect="fadeInRight" data-effect-delay="100">
								<img src="../images/yuan11.png" alt="">
							</div>
							<div class="col-md-4 col-sm-4 col-xs-4 object-non-visible" data-animation-effect="fadeInRight" data-effect-delay="200">
								<img src="../images/yuan22.png" alt="">
							</div>
							<div class="col-md-4 col-sm-4 col-xs-4 object-non-visible" data-animation-effect="fadeInRight" data-effect-delay="300">
								<img src="../images/yuan33.png" alt="">
							</div>
						</div>
					</div>
					
					
				</div>

			</div>
			<!-- section end -->

			{%include footer.html%}

		