			{%include head.html%}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner" id="banner">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow">
					
					<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-banner-container">
			<div class="slider-banner">
				<ul>
					<!-- slide 1 start -->
					<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Slide 1">
					
					<!-- main image -->
					<img src="../images/develop.png"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
	
					<!-- LAYER NR. 1 -->
					<div class="tp-caption very_large_text sfr tp-resizeme"
						data-x="center"
						data-y="70" 
						data-speed="600"
						data-start="1200">OPENTHOS
					</div>
	
					<!-- LAYER NR. 2 -->
					<div class="tp-caption light_medium_20 sfb tp-resizeme"
						data-x="center"
						data-y="170"
						data-speed="600"
						data-start="1600">全面桌面化
					</div>
	
					<!-- LAYER NR. 3 -->
					<div class="tp-caption light_medium_20 sfb tp-resizeme"
						data-x="center"
						data-y="220"
						data-speed="600"
						data-start="1800">安全
					</div>
	
					<!-- LAYER NR. 4 -->
					<div class="tp-caption light_medium_20 sfb tp-resizeme"
						data-x="center"
						data-y="270"
						data-speed="600"
						data-start="2000">开源
					</div>
	
					<!-- LAYER NR. 7 -->
					<div class="tp-caption light_medium_20 sfb"
						data-x="center"
						data-y="370"
						data-speed="600"
						data-start="0">
						<a href="#subNav" class="btn btn-lg moving smooth-scroll">
							<p>了解更多</p>
							<i class="fa fa-angle-double-down fa-2x"></i>
						</a>
					</div>
	
					</li>
					<!-- slide 1 end -->
	
				</ul>
				<!--<div class="tp-bannertimer tp-bottom"></div>-->
			</div>
		</div>
		<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->

			<!--页内导航开始-->
			<div id="subNav" class="">
				<div class="container">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<ul class="wrap col-md-offset-3">
							    <li class="nav_fa"><a href="#show1" class="adv_one">概述</a></li>
							    <li class="nav_fa" ><a href="#show2" class="adv_two">完全桌面化</a></li>
							    <li class="nav_fa"><a href="#show3" class="adv_three">可信计算</a></li>
							    <li class="nav_fa"><a href="#show4" class="adv_four">愿景</a></li>
							    <!--<li class="nav_fa"><a href="#show5" class="adv_five">第五部分</a></li>
							    <li class="nav_fa"><a href="#show6" class="adv_six">第六部分</a></li>
							    <li class="nav_fa"><a href="#show7" class="adv_seven">第七部分</a></li>
							    <li class="nav_fa"><a href="#show8" class="adv_eight">第八部分</a></li>-->
							</ul>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
			  
			</div>
			<!--页内导航结束-->


			<!-- 什么是OPENTHOS start-->
			<!-- ================ -->
			<div class="page-top" id="show1">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="call-to-action">
								<h1 class="title">什么是OPENTHOS?</h1>
								<p>
									OPENTHOS是以Android为基础的开源桌面操作系统， 兼具了经典个人电脑操作系统和Android操作系统的优势，提供高性能、高安全、跨平台的现代用户体验。
									
								</p>
								<p><a href="###">点击下载OPENTHOS</a><span>(提取码:y48g)</span></p>
								<div class="openthos_img">
									<img src="../images/openthos_img.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 什么是openthos end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container gray-bg" id="show2">

				<!-- main start -->
				<!-- ================ -->
				<div class="main">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1 class="text-center title">基于Android的桌面化操作系统</h1>
								<div class="separator"></div>
								<p class="text-center">全面桌面化的安卓</p>
								<!-- section1 start -->
								<!-- ================ -->
								<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
									<div class="container">
										<br>
										<div class="row">
											<div class="col-md-8">
												<img src="../images/img1.png" alt="">
												<div class="space hidden-md hidden-lg"></div>
											</div>
											<div class="col-md-4">
												<h3 class="space-top">多窗口、多任务</h3>
												<p>OPENTHOS是以Android为基础的开源桌面操作系统， 兼具了经典个人电脑操作系统和Android操作系统的优势，提供高性能、高安全、跨平台的现代用户体验。</p>
											</div>
										</div>
									</div>
								</div>
								<!-- section end -->
								
								<!-- section2 start -->
								<!-- ================ -->
								<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
									<div class="container">
										<br>
										<div class="row">
											<div class="col-md-4">
												<h3 class="space-top">通知中心、文件资源管理器</h3>
												<p>
													OPENTHOS是以Android为基础的开源桌面操作系统， 兼具了经典个人电脑操作系统和Android操作系统的优势，提供高性能、高安全、跨平台的现代用户体验。
												</p>
											</div>
											<div class="col-md-8">
												<img src="../images/img2.png" alt="">
												<div class="space hidden-md hidden-lg"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- section end -->
								<!-- section3 start -->
								<!-- ================ -->
								<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
									<div class="container">
										<br>
										<div class="row">
											<div class="col-md-8">
												<img src="../images/print.png" alt="">
												<div class="space hidden-md hidden-lg"></div>
											</div>
											<div class="col-md-4">
												<h3 class="space-top">打印机与外设支持</h3>
												<p>
													OPENTHOS是以Android为基础的开源桌面操作系统， 兼具了经典个人电脑操作系统和Android操作系统的优势，提供高性能、高安全、跨平台的现代用户体验。
												</p>
											</div>
										</div>
									</div>
								</div>
								<!-- section end -->
							</div>
						</div>
					</div>
				</div>
				<!-- main end -->

			</section>
			<!-- main-container end -->
			
			<!-- section start -->
			<!-- ================ -->
			<div class="section clearfix" id="show3">

				<div class="container">
					<h1>基于TCM与国密算法的可信计算体系</h1>
					<div class="separator-2"></div>
					<div class="row">
						<div class="col-md-8 col-md-offset-1">


							<h3 class="marB-20">中国可信计算、中国商密算法 </h3>

							<div class="safe safe1" >
								<p class="col-md-7 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="0">固件+密码芯片</p>
							</div>
							<div class="safe safe2">
								<p class="col-md-7 col-md-offset-1 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="100">内核和启动镜像验证</p>
							</div>
							<div class="safe safe3">
								<p class="col-md-7 col-md-offset-2 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="200">系统分区逐扇区随访问验证</p>
							</div>
							<div class="safe safe4">
								<p class="col-md-7 col-md-offset-3 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">数据分区文件随访问验证</p>
							</div>
							<div class="safe safe5">
								<p class="col-md-7 col-md-offset-4 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="400">应用程序安全沙盒</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-11 col-md-offset-1">


							<h3 class="marB-20">用户应用防护</h3>
							<div class="" style="background:url('../images/bg.png')">
								<img src="../images/defent.png" alt="">
							</div>

						</div>
					</div>
				</div>

			</div>
			<!-- section end -->
			
			
			<!-- section start -->
			<!-- ================ -->
			<div class="section clearfix" id="show4">

				<div class="container">
					<h1 >我们的愿景</h1>
					<div class="separator-2"></div>
					<div class="row">
						<div class="col-md-12">

							<h3 class="text-center">跨硬件架构的统一用户体验</h3>
							<!--<div class="separator-2"></div>-->
							<!--<p>跨硬件架构的统一用户体验 </p>-->
							<div class="owl-carousel carousel">
								<div class="image-box" >
									<div class="overlay-container">
										<img src="../images/1.jpg" alt="">
										
									</div>
								</div>
								<div class="image-box">
									<div class="overlay-container">
										<img src="../images/2.jpg" alt="">
										
									</div>
								</div>
								<div class="image-box">
									<div class="overlay-container">
										<img src="../images/3.jpg" alt="">
										
									</div>
								</div>
								<div class="image-box">
									<div class="overlay-container">
										<img src="../images/4.jpg" alt="">
										
									</div>
								</div>
								<div class="image-box">
									<div class="overlay-container">
										<img src="../images/5.jpg" alt="">
										
									</div>
								</div>
								
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<h3 class="text-center">OPENTHOS CLOUD实现所有设备上数据与应用环境的实时一致 </h3>
							<!--<div class="separator-2"></div>-->
							<!--<p>OPENTHOS CLOUD实现所有设备上数据与应用环境的实时一致 </p>-->
							<div class="owl-carousel carousel">
								<div class="image-box">
									<div class="overlay-container">
										<img src="../images/world2.png" alt="">
										
									</div>
								</div>
								<div class="image-box">
									<div class="overlay-container">
										<img src="../images/world1.png" alt="">
										
									</div>
								</div>
								<div class="image-box">
									<div class="overlay-container">
										<img src="../images/world5.png" alt="">
										
									</div>
								</div>
								<div class="image-box" >
									<div class="overlay-container">
										<img src="../images/world4.png" alt="">
										
									</div>
								</div>
								<div class="image-box">
									<div class="overlay-container">
										<img src="../images/world3.png" alt="">
										
									</div>
								</div>
								
							</div>

						</div>
					</div>
					
					<!--  start -->
					<div class="pricing-tables stripped" >
						<h3 class="text-center" style="margin-bottom: 50px;">实现完全自主可控</h3>
						<!--<div class="separator" style="margin-bottom: 50px;"></div>-->
						<div class="row grid-space-0">
							
							<!-- pricing table start -->
							<div class="col-sm-4 plan stripped">
								<div class="header">
									<h3>承担</h3>
								</div>
								<ul>
									<li>INTEL平台</li>
									<li>OPENTHOS + WINDOWS双系统</li>
								</ul>
							</div>
							<!-- pricing table end -->
			
							<!-- pricing table start -->
							<div class="col-sm-4 plan stripped best-value">
								<div class="header">
									<h3>探索</h3>
								</div>
								<ul>
									<li>OPENTHOS + 多种CPU</li>
									<li>用户无需关心CPU架构</li>
								</ul>
							</div>
							<!-- pricing table end -->
			
							<!-- pricing table start -->
							<div class="col-sm-4 plan stripped">
								<div class="header">
									<h3>超越</h3>
								</div>
								<ul>
									<li>完全自主可控</li>
									<li>助力国家安全与中华民族复兴</li>
								</ul>
							</div>
							<!-- pricing table end -->
						</div>
					</div>
					<!--  end -->
					
					
				</div>

			</div>
			<!-- section end -->

			{%include footer.html%}

		