			{%include head.html%}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow">
					
					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-banner-container">
						<div class="slider-banner">
							<ul>
								<!-- slide 1 start -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="HELLO">
								
								<!-- main image -->
								<img src="images/banner2.jpg"  alt="slidebg1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

								<!-- LAYER NR. 1 -->
								<div class="tp-caption white_bg large sfr tp-resizeme"
									data-x="center"
									data-y="70" 
									data-speed="600"
									data-start="1200"
									data-end="9400"
									data-endspeed="600">HELLO
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption sfr tp-resizeme"
									data-x="center"
									data-y="150" 
									data-speed="600"
									data-start="2000"
									data-end="9400"
									data-endspeed="600"><img src="images/circle6.png" alt="">
								</div>

								</li>
								<!-- slide 1 end -->

								<!-- slide 2 start -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme">
								
								<!-- main image -->
								<img src="images/banner1.jpg"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

								<!-- LAYER NR. 2 -->
								<div class="tp-caption default_bg sfl medium tp-resizeme"
									data-x="50"
									data-y="170" 
									data-speed="600"
									data-start="1200"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="100"
									data-y="170" 
									data-speed="600"
									data-start="1200"
									data-end="9400"
									data-endspeed="600">桌面ANDROID
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption default_bg sfl medium tp-resizeme"
									data-x="50"
									data-y="220" 
									data-speed="600"
									data-start="1400"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="100"
									data-y="220" 
									data-speed="600"
									data-start="1400"
									data-end="9400"
									data-endspeed="600">安全
								</div>

								<!-- LAYER NR. 6 -->
								<div class="tp-caption default_bg sfl medium tp-resizeme"
									data-x="50"
									data-y="270" 
									data-speed="600"
									data-start="1600"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 7 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="100"
									data-y="270" 
									data-speed="600"
									data-start="1600"
									data-end="9400"
									data-endspeed="600">开放
								</div>

								<!-- LAYER NR. 10 -->
								<div class="tp-caption default_bg sfb medium tp-resizeme"
									data-x="50"
									data-y="370" 
									data-speed="600"
									data-start="1800"
									data-end="9400"
									data-endspeed="600">And Much More...
								</div>

								<!-- LAYER NR. 11 -->
								<div class="tp-caption sfr tp-resizeme"
									data-x="right"
									data-y="center" 
									data-speed="600"
									data-start="2000"
									data-end="9400"
									data-endspeed="600"><img src="images/circle4.png" alt="">
								</div>

								</li>
								<!-- slide 2 end -->

							</ul>
							<!--<div class="tp-bannertimer tp-bottom"></div>-->
						</div>
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->

			<!--页内导航开始-->
			<div id="subNav" class="">
				<div class="container">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<ul class="wrap">
							    <li class="nav_fa"><a href="#show1" class="adv_one">第一部分</a></li>
							    <li class="nav_fa" ><a href="#show2" class="adv_two">第二部分</a></li>
							    <li class="nav_fa"><a href="#show3" class="adv_three">第三部分</a></li>
							    <li class="nav_fa"><a href="#show4" class="adv_four">第四部分</a></li>
							    <li class="nav_fa"><a href="#show5" class="adv_five">第五部分</a></li>
							    <li class="nav_fa"><a href="#show6" class="adv_six">第六部分</a></li>
							    <li class="nav_fa"><a href="#show7" class="adv_seven">第七部分</a></li>
							    <li class="nav_fa"><a href="#show8" class="adv_eight">第八部分</a></li>
							</ul>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
			  
			</div>
			<!--页内导航结束-->


			<!-- 什么是openthos start-->
			<!-- ================ -->
			<div class="page-top" id="show1">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="call-to-action">
								<h1 class="title">什么是Openthos?</h1>
								<p>
									Openthos操作系统是一款基于Android 6开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验。 
								</p>
								<div class="openthos_img">
									<img src="{{baseurl}}/images/openthos_img.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 什么是openthos end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container gray-bg" id="show2">

				<!-- main start -->
				<!-- ================ -->
				<div class="main">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1 class="text-center title">彻底桌面化的移动操作系统</h1>
								<div class="separator"></div>
								<p class="text-center">全面桌面化的安卓</p>
								<!-- section1 start -->
								<!-- ================ -->
								<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
									<div class="container">
										<br>
										<div class="row">
											<div class="col-md-6">
												<img src="{{baseurl}}/images/img1.png" alt="">
												<div class="space hidden-md hidden-lg"></div>
											</div>
											<div class="col-md-6">
												<h3 class="space-top">文件资源管理器</h3>
												<p>Openthos操作系统是一款基于Android 6开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验</p>
											</div>
										</div>
									</div>
								</div>
								<!-- section end -->
								
								<!-- section2 start -->
								<!-- ================ -->
								<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
									<div class="container">
										<br>
										<div class="row">
											<div class="col-md-6">
												<h3 class="space-top">多窗口、多任务</h3>
												<p>
													Openthos操作系统是一款基于Android 6开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验
												</p>
											</div>
											<div class="col-md-6">
												<img src="{{baseurl}}/images/img2.png" alt="">
												<div class="space hidden-md hidden-lg"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- section end -->
								<!-- section3 start -->
								<!-- ================ -->
								<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
									<div class="container">
										<br>
										<div class="row">
											<div class="col-md-6">
												<img src="{{baseurl}}/images/files.png" alt="">
												<div class="space hidden-md hidden-lg"></div>
											</div>
											<div class="col-md-6">
												<h3 class="space-top">通知中心</h3>
												<p>
													Openthos操作系统是一款基于Android 6开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操
													作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验。
												</p>
											</div>
										</div>
									</div>
								</div>
								<!-- section end -->
							</div>
						</div>
					</div>
				</div>
				<!-- main end -->

			</section>
			<!-- main-container end -->
			
			<!-- section start -->
			<!-- ================ -->
			<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200" id="show3">
				<div class="container">
					<h1 class="text-center">高性能</h1>
					<div class="separator"></div>
					<div class="row">
						<div class="col-md-9" id="high-performance1">
							<img src="{{baseurl}}/images/timg.png" alt="" class="tab-pane fade in active high-performance1">
							<img src="{{baseurl}}/images/timg2.png" alt="" class="tab-pane fade high-performance2">
						</div>
						<div class="col-md-3" style="margin-top: 30px;">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist" id="tab_list1">
								<li class="active"><a href=".high-performance1" role="tab" data-toggle="tab"><i class="fa fa-home pr-5"></i>低延迟</a></li>
								<li class=""><a href=".high-performance2" role="tab" data-toggle="tab"><i class="fa fa-user pr-5"></i>高画质</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane fade in active high-performance1" id="htab1">
									<div class="row">
										<div class="col-md-12">
											<p>
												XOpenthos操作系统是一款基于Android 6开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验
											</p>
										</div>
									</div>
								</div>
								<div class="tab-pane fade high-performance2" id="htab2">
									<div class="space-bottom"></div>
									<div class="row">
										<div class="col-md-12">
											<p>Openthos操作系统是一款基于Android 6开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操
													作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验。</p>
										</div>
									</div>

								</div>
							</div>
							<!-- tabs end -->
						</div>
					</div>
				</div>
			</div>
			<!-- section end -->

			<!--download start-->
			<div class="container download" id="show4">
				<div class="row">
					<h1 class="text-center">下&nbsp;载</h1>
					<div class="separator"></div>
					<div class="col-md-4">
						<a href="#">
							<div class="download-img">
								<img src="{{baseurl}}/images/download.jpg" alt="" />
							</div>
							<div class="letter">
								<p>
									<span>稳定版</span>
									<i class="fa">></i>
								</p>
								<p class="version">(1.0.170730)</p>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#">
							<div class="download-img">
								<img src="{{baseurl}}/images/download.jpg" alt="" />
							</div>
							<div class="letter">
								<p>
									<span>开发版</span>
									<i class="fa">></i>
								</p>
								<p class="version">(1.9.170822)</p>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#">
							<div class="download-img">
								<img src="{{baseurl}}/images/download.jpg" alt="" />
							</div>
							<div class="letter">
								<p>
									<span>更多版本...</span>
								</p>
								<p class="version">(1.0.170730)</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!--download end-->

			<!--section start-->
			<div class="parallax parallax-bg-3 dark-translucent-bg object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="300" style="background-position: 50% -49px;" id="show5">
				<div class="container">
					<div class="stats row grid-space-10">
						<h1 class="text-center">OPENTHOS CLOUD</h1>
						<div class="col-md-2 col-sm-6">
							<div class="box-style-1">
								<!--<i class="fa fa-briefcase"></i>-->
								<img src="{{baseurl}}/images/cloud0.png" class="cloud_imgs">
								<h2>无限版本实时同步<h2>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="box-style-1">
								<!--<i class="fa fa-users"></i>-->
								<img src="{{baseurl}}/images/cloud1.png" class="cloud_imgs">
								<h2>网络存取数据</h2>
							</div>
						</div>
						<div class="col-md-2 col-sm-12">
							<div class="box-style-1">
								<!--<i class="fa fa-cloud-download"></i>-->
								<img src="{{baseurl}}/images/cloud2.png" class="cloud_imgs">
								<h2>电脑手机全终端</h2>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="box-style-1">
								<!--<i class="fa fa-thumbs-o-up"></i>-->
								<img src="{{baseurl}}/images/cloud3.png" class="cloud_imgs">
								<h2>端对端加密</h2>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="box-style-1">
								<!--<i class="fa fa-briefcase"></i>-->
								<img src="{{baseurl}}/images/cloud4.png" class="cloud_imgs">
								<h2>多副本异地容灾<h2>
							</div>
						</div>
					</div>
				</div>

			</div>
			
			<!--section end-->


			<!-- section start -->
			<!-- ================ -->
			<div class="section clearfix" id="show6">
				<div class="container">
					<div class="row">
						<div class="col-md-12">

							<h1 class="text-center">完整生态</h1>
							<div class="separator"></div>
							<p class="lead text-center">应用商店</p>
							<img data-tab="#tab1" src="images/shop.jpg">
				
						</div>
					</div>
				</div>
			</div>
			<!-- section end -->
			
			<!-- page-top start-->
			<!-- ================ -->
			<div class="page-top object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100" id="show7">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="text-center title">用户方面</h1>
							<div class="separator"></div>
							<p class="text-center">设置用户应用防护、保护用户个人隐私、跨硬件架构的统一用户体验</p>
							<div class="row grid-space-20">
								<div class="col-sm-12 col-md-4 col-md-push-4">
									<img src="{{baseurl}}/images/section-image-5.png" alt="" class="object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="0">
								</div>
								<div class="col-sm-6 col-md-4 col-md-pull-4">
									<div class="box-style-3 right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
										<div class="icon-container default-bg">
											<i class="fa fa-check"></i>
										</div>
										<div class="body">
											<h2>安装包验签</h2>
										</div>
									</div>
									<div class="box-style-3 right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
										<div class="icon-container default-bg">
											<i class="fa fa-check"></i>
										</div>
										<div class="body">
											<h2>文件指纹记录</h2>
										
										</div>
									</div>
									<div class="box-style-3 right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
										<div class="icon-container default-bg">
											<i class="fa fa-check"></i>
										</div>
										<div class="body">
											<h2>动态调用检查</h2>
									
										</div>
									</div>
									<div class="box-style-3 right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="600">
										<div class="icon-container default-bg">
											<i class="fa fa-check"></i>
										</div>
										<div class="body">
											<h2>单向软件升级</h2>
										
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-4">
									<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
										<div class="icon-container default-bg">
											<i class="fa fa-check"></i>
										</div>
										<div class="body">
											<h2>应用操作与数据虚拟化</h2>
											
										</div>
									</div>
									<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
										<div class="icon-container default-bg">
											<i class="fa fa-check"></i>
										</div>
										<div class="body">
											<h2>权限与数据的“假意许可”模式</h2>
											
										</div>
									</div>
									<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
										<div class="icon-container default-bg">
											<i class="fa fa-check"></i>
										</div>
										<div class="body">
											<h2>应用间调用审查</h2>
											
										</div>
									</div>
									
									<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="600">
										<div class="icon-container default-bg">
											<i class="fa fa-check"></i>
										</div>
										<div class="body">
											<h2>软件开发者快速“适配”</h2>
											
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- page-top end -->


			<!-- section start-->
			<!-- ================ -->
			<div class="page-top object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100" id="show8">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="text-center title">同一个世界，不同的形态</h1>
							<div class="separator"></div>
							<p class="text-center">OPENTHOS CLOUD实现所有设备上数据与应用环境的实时一致</p>
							<div class="img-grid-space-20">
								<img class="tu1" src="{{baseurl}}/images/world1.png" alt="">
								<img class="tu2" src="{{baseurl}}/images/world2.png" alt="">
								<img class="tu3" src="{{baseurl}}/images/world3.png" alt="">
								<img class="tu4" src="{{baseurl}}/images/world4.png" alt="">
								<img class="tu5" src="{{baseurl}}/images/world5.png" alt="">

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- section end -->

			{%include footer.html%}

		