{%include head.html%}
	
<!-- main-container start -->
<!-- ================ -->
<section class="main-container" id="more">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">作为测试者参与项目</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->
				
				<div class="row">
					<div class="col-md-8">
						<p>OPENTHOS操作系统是一款基于Android 5.1开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验</p>
						<h3>多种渠道获取</h3>
						<p>OPENTHOS操作系统是一款基于Android 5.1开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验</p>
						<ul class="list-icons">
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall"><i class="icon-check"></i> 代码开源</li>
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check"></i> 过程开源 </li>
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300"><i class="icon-check"></i> 原生多屏互动</li>
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="500"><i class="icon-check"></i> 向用户移交控制权</li>
						</ul>
						<a class="btn btn-lg btn-default border-ra" href="#"><i class="fa fa-download pr-10"></i> 点击下载</a>
					</div>
					<!-- sidebar start -->
					<aside class="sidebar col-md-4">
						<div class="side vertical-divider-left">
							<div class="block clearfix">
								<h3 class="title margin-top-clear">最近更新</h3>
								<div class="separator"></div>
								<div class="gallery row">
									<div class="gallery-item col-xs-6">
										<div class="overlay-container">
											<!--<img src="images/gallery-1.jpg" alt="">-->
											<a href="#" class="overlay small">
												<i class="fa fa-link"></i>
											</a>
										</div>
									</div>
									<div class="gallery-item col-xs-6">
										<div class="overlay-container">
											<!--<img src="images/gallery-2.jpg" alt="">-->
											<a href="#" class="overlay small">
												<i class="fa fa-link"></i>
											</a>
										</div>
									</div>
									<div class="gallery-item col-xs-6">
										<div class="overlay-container">
											<!--<img src="images/gallery-4.jpg" alt="">-->
											<a href="#" class="overlay small">
												<i class="fa fa-link"></i>
											</a>
										</div>
									</div>
									<div class="gallery-item col-xs-6">
										<div class="overlay-container">
											<!--<img src="images/gallery-5.jpg" alt="">-->
											<a href="#" class="overlay small">
												<i class="fa fa-link"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
							<h3 class="title">设计目标</h3>
							<div class="separator"></div>
							<blockquote class="margin-clear">
								<p>开放、开源、安全可信</p>	
								<footer><cite title="Source Title">OPENTHOS</cite></footer>
							</blockquote>
						</div>
					</aside>
					<!-- sidebar end -->
				</div>
				<hr>
			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->	

<!-- main-container start -->
<!-- ================ -->
<section class="main-container" id="more">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">参与OPENTHOS开发</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->
				
				<div class="row">
					<div class="col-md-8">
						<p>OPENTHOS操作系统是一款基于Android 5.1开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验</p>
						<h3>多种渠道获取</h3>
						<p>OPENTHOS操作系统是一款基于Android 5.1开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验</p>
						<ul class="list-icons">
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall"><i class="icon-check"></i> 代码开源</li>
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check"></i> 过程开源 </li>
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300"><i class="icon-check"></i> 原生多屏互动</li>
							<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="500"><i class="icon-check"></i> 向用户移交控制权</li>
						</ul>
						<a class="btn btn-lg btn-default border-ra" href="#"><i class="fa fa-download pr-10"></i> 点击下载</a>
					</div>
					<!-- sidebar start -->
					<aside class="sidebar col-md-4">
						<div class="side vertical-divider-left">
							<div class="block clearfix">
								<h3 class="title margin-top-clear">最近更新</h3>
								<div class="separator"></div>
								<div class="gallery row">
									<div class="gallery-item col-xs-6">
										<div class="overlay-container">
											<!--<img src="images/gallery-1.jpg" alt="">-->
											<a href="#" class="overlay small">
												<i class="fa fa-link"></i>
											</a>
										</div>
									</div>
									<div class="gallery-item col-xs-6">
										<div class="overlay-container">
											<!--<img src="images/gallery-2.jpg" alt="">-->
											<a href="#" class="overlay small">
												<i class="fa fa-link"></i>
											</a>
										</div>
									</div>
									<div class="gallery-item col-xs-6">
										<div class="overlay-container">
											<!--<img src="images/gallery-4.jpg" alt="">-->
											<a href="#" class="overlay small">
												<i class="fa fa-link"></i>
											</a>
										</div>
									</div>
									<div class="gallery-item col-xs-6">
										<div class="overlay-container">
											<!--<img src="images/gallery-5.jpg" alt="">-->
											<a href="#" class="overlay small">
												<i class="fa fa-link"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
							<h3 class="title">设计目标</h3>
							<div class="separator"></div>
							<blockquote class="margin-clear">
								<p>开放、开源、安全可信</p>	
								<footer><cite title="Source Title">OPENTHOS</cite></footer>
							</blockquote>
						</div>
					</aside>
					<!-- sidebar end -->
				</div>
				<hr>
			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->	


	{%include footer.html%}
