{%include head.html%}

<div id="header-top" class="header-top banner">
	
	</div>
	<!-- header-top end -->
	
<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container" id="more">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">我们做的是什么</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							
							<div class="row">
								<div class="col-md-8">
									<p>Openthos操作系统是一款基于Android 6开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验</p>
									<h3>多种渠道获取</h3>
									<p>Openthos操作系统是一款基于Android 6开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验</p>
									<ul class="list-icons">
										<li class="object-non-visible" data-animation-effect="fadeInUpSmall"><i class="icon-check"></i> 代码开源</li>
										<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check"></i> 过程开源 </li>
										<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300"><i class="icon-check"></i> 原生多屏互动</li>
										<li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="500"><i class="icon-check"></i> 向用户移交控制权</li>
									</ul>
									<a class="btn btn-lg btn-default" href="#Team"><i class="fa fa-users pr-10"></i> Join Us</a>
								</div>
								<!-- sidebar start -->
								<aside class="sidebar col-md-4">
									<div class="side vertical-divider-left">
										<div class="block clearfix">
											<h3 class="title margin-top-clear">最近更新</h3>
											<div class="separator"></div>
											<div class="gallery row">
												<div class="gallery-item col-xs-6">
													<div class="overlay-container">
														<!--<img src="images/gallery-1.jpg" alt="">-->
														<a href="#" class="overlay small">
															<i class="fa fa-link"></i>
														</a>
													</div>
												</div>
												<div class="gallery-item col-xs-6">
													<div class="overlay-container">
														<!--<img src="images/gallery-2.jpg" alt="">-->
														<a href="#" class="overlay small">
															<i class="fa fa-link"></i>
														</a>
													</div>
												</div>
												<div class="gallery-item col-xs-6">
													<div class="overlay-container">
														<!--<img src="images/gallery-4.jpg" alt="">-->
														<a href="#" class="overlay small">
															<i class="fa fa-link"></i>
														</a>
													</div>
												</div>
												<div class="gallery-item col-xs-6">
													<div class="overlay-container">
														<!--<img src="images/gallery-5.jpg" alt="">-->
														<a href="#" class="overlay small">
															<i class="fa fa-link"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
										<h3 class="title">设计目标</h3>
										<div class="separator"></div>
										<blockquote class="margin-clear">
											<p>开放、开源、安全可信</p>	
											<footer><cite title="Source Title">openthos</cite></footer>
										</blockquote>
									</div>
								</aside>
								<!-- sidebar end -->
							</div>
							<hr>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->	


<!-- TEAM -->
<section class="team" id="Team">
	<div class="container">
		<div class="row">
			<div class="col-md-3 ">
				
			</div>
			<div class="col-md-6 col-sm-6 text-center">
				<h1>加入我们</h1>
				<div class="border center-block"></div>
				<p class="tagline">
					Openthos操作系统是一款基于Android 6开发的更优化的桌面操作系统，兼具了经典个人电脑操作系统和安卓操作系统的优势，向用户提供更高性能、高安全、高跨平台性的操作体验
				</p>
			</div>
			<div class="col-md-3 ">
				
			</div>
		</div>	
	</div>	
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 ">
				<div class="thumbnail">
					<div class="team-img">
						<img class="img-responsive" src="{{baseurl}}/images/team-1.png" alt="Team Image">
						<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
					</div>
					<div class="caption">
						<h4>Jason Collins</h4>
						<span>Ceo & Project Menager</span>
						<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>
						
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 ">
				<div class="thumbnail">
					<div class="team-img">
						<img class="img-responsive" src="{{baseurl}}/images/team-2.png" alt="Team Image">
						<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
					</div>
					<div class="caption">
						<h4>Amanda kliens</h4>
						<span>Web Designer & Accountant</span>
						<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>
						
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<div class="team-img">
						<img class="img-responsive" src="{{baseurl}}/images/team-3.png" alt="Team Image">
						<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
					</div>
					<div class="caption">
						<h4>Steve James</h4>
						<span>Web Developer & Support</span>
						<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>

					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<div class="team-img">
						<img class="img-responsive" src="{{baseurl}}/images/team-4.png" alt="Team Image">
						<div class="team-overlay"><i class="fa fa-envelope-o"></i></div>
					</div>
					<div class="caption">
						<h4>Christo Rojer</h4>
						<span>Seo expart & Support</span>
						<p>sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita.</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END TEAM -->

	{%include footer.html%}
